<%= form_for @cliente, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :nome, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :nome, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :celular, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :celular, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :telefone, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :telefone, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :ramal, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :ramal, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :endereco, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :endereco, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :complemento, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :complemento, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :empresa, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :empresa, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
      <%= f.label :sexo, :class => 'control-label' %>
      <%= label :sexo, "M", :class =>"radio inline" %>
      <%= f.radio_button :sexo, "M" , :checked => true, :value => "Masculino" %>
      <%= label :sexo, "F", :class =>"radio inline" %>
      <%= f.radio_button :sexo, "F" , :checked => false, :value => "Feminino" %>
  </div>

  <% end %>
  <div class="control-group">
    <%= f.label :data_de_nascimento, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :data_de_nascimento, :class => 'text_field' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancelar', :default => t("helpers.links.cancelar")),
                clientes_path, :class => 'btn' %>
  </div>
<% end %>
