<%- model_class = Cliente -%>
  <h2>Bloquear Cliente</h2>
  <%#= link_to '#', html_options = {:class => "btn btn-small btn-info informacoes", :id => "_informacoes", :'data-content' => "Administrador Operacional bloqueia o acesso de um Cliente ao sistema.", :rel => "popover"} do %>
      <!-- <i class="icon-info-sign icon-white"></i> -->
  <%# end %>
<div class="show1">
<fieldset class='form-clientes'>
<legend>Dados do cliente a ser bloqueado</legend>

<!--   <div class="span2">
    <%#= render "side_bar" %>
  </div> -->
  <!--end sidebar-->

  <!--div class="span10"-->

    <strong><%= model_class.human_attribute_name(:nome) %>:</strong>
    <%= @cliente.nome %><br>
    <strong><%= model_class.human_attribute_name(:cpf) %>:</strong>
    <%= @cliente.cpf %><br>
    <strong><%= model_class.human_attribute_name(:empresa) %>:</strong>
    <%= @cliente.empresa.nome %><br>
    <strong><%= model_class.human_attribute_name(:celular) %>:</strong>
    <%= @cliente.celular %><br>
</fieldset>
</div>

   <%= link_to t('.cancelar', :default => t("helpers.links.cancelar")),
                clientes_path, :class => 'button gray-voltar' %>
    <%= link_to 'Confirmar Bloqueio', confirmar_bloqueio_cliente_path(@cliente), :class => "button purple" %>
