<%- model_class = Conta -%>
<div class="page-header">
  <h1 class='titulo'>
    <%=t '.title', :default => model_class.model_name.human.pluralize.titleize %><br/>
    <%#= link_to 'Cadastrar Empresa', new_empresa_path, :class=>"button blue-cadastrar-top" %>
  </h1>
        
</div>
<% if @transacoes.nil? %>
    Este cliente não possui transações na conta.
<% else %>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Tipo </th>
      <th>Valor</th>
      <th>Data</th>
    </tr>
  </thead>
  <tbody>
    <% @transacoes.each do |transacao| %>

      <tr>
        <td><%= transacao.class %></td>
        <td><%= transacao.valor.to_f %></td>
        <td><%= transacao.created_at.strftime("%d/%m/%Y") %></td>
      </tr>
    <% end %>
  </tbody>
</table>
Saldo Atual: R$ <%= @conta.saldo.to_f %>
<% end %>
