<%- model_class = Cliente -%>

  <h2>Desbloquear Cliente</h2>
  <%= link_to '#', html_options = {:class => "btn btn-small btn-info informacoes", :id => "_informacoes", :'data-content' => "Administrador Operacional bloqueia o acesso de um Cliente ao sistema.", :rel => "popover"} do %>
  <% end %>

<div class="show1">
<fieldset class='form-clientes'>
<legend>Dados do cliente a ser desbloqueado</legend>

   <strong><%= model_class.human_attribute_name(:nome) %>:</strong>
    <%= @cliente.nome %><br>
    <strong><%= model_class.human_attribute_name(:cpf) %>:</strong>
    <%= @cliente.cpf %><br>
    <strong><%= model_class.human_attribute_name(:empresa) %>:</strong>
    <%= @cliente.empresa.nome %><br>
    <strong><%= model_class.human_attribute_name(:celular) %>:</strong>
    <%= @cliente.celular %><br>
 </fieldset>
</div> 

      <%= link_to t('.cancelar', :default => t("helpers.links.cancelar")),
                clientes_path, :class => 'button gray-voltar' %>
    <%= link_to 'Confirmar Desbloqueio', confirmar_desbloqueio_cliente_path(@cliente), :class => "button blue-cadastrar-top" %>

