<%- model_class = Cliente -%>
<h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
 <!--  <%= link_to t('.novo', :default => t("helpers.links.novo_cliente")),
            new_cliente_path, :class => 'button blue-cadastrar-top' %> -->

<div class="show1">
<fieldset class='form-clientes'>
<legend>Dados Pessoais</legend>
    <strong><%= model_class.human_attribute_name(:nome) %>:</strong>
    <%= @cliente.nome %><br/>
    <strong>CPF:</strong>
    <%= @cliente.cpf %><br/>
    <strong>RG:</strong>
    <%= @cliente.rg %><br/>
    <strong><%= model_class.human_attribute_name(:sexo) %>:</strong>
    <%= @cliente.sexo %><br/>
    <strong><%= model_class.human_attribute_name(:data_de_nascimento) %>:</strong>
    <%= @cliente.data_de_nascimento.strftime("%d/%m/%Y") %><br/>
    <strong>Endereço:</strong>
    <%= @cliente.endereco %><br/>
    <strong>Número:</strong>
    <%= @cliente.numero %><br/>
    <strong><%= model_class.human_attribute_name(:bairro) %>:</strong>
    <%= @cliente.bairro %><br/>
    <strong><%= model_class.human_attribute_name(:cidade) %>:</strong>
    <%= @cliente.cidade %><br/>
    <strong><%= model_class.human_attribute_name(:complemento) %>:</strong>
    <%= @cliente.complemento %><br/>
    <strong><%= model_class.human_attribute_name(:telefone) %>:</strong>
    <%= @cliente.telefone %><br/>
    <strong><%= model_class.human_attribute_name(:celular) %>:</strong>
    <%= @cliente.celular %>
</fieldset>
<fieldset class='form-clientes'>
<legend>Dados Profissionais</legend>
    <strong><%= model_class.human_attribute_name(:empresa) %>:</strong>
    <%= @cliente.empresa.nome %><br/>
    <strong><%= model_class.human_attribute_name(:cargo) %>:</strong>
    <%= @cliente.cargo %><br/>
    <strong><%= model_class.human_attribute_name(:setor) %>:</strong>
    <%= @cliente.setor %><br/>
    <strong><%= model_class.human_attribute_name(:telefone_empresa) %>:</strong>
    <%= @cliente.telefone_empresa %><br/>
    <strong><%= model_class.human_attribute_name(:ramal) %>:</strong>
    <%= @cliente.ramal %><br/>
    <strong><%= model_class.human_attribute_name(:celular_empresa) %>:</strong>
    <%= @cliente.celular_empresa %><br/>
    <strong><%= model_class.human_attribute_name(:email_empresa) %>:</strong>
    <%= @cliente.email_empresa %><br/>
    </fieldset>
<fieldset class='form-clientes'>
<legend>Dados de Conta</legend>
    <strong><%= model_class.human_attribute_name(:saldo) %>:</strong>
    R$ <%= @cliente.conta.saldo %><br/>
    </fieldset>
</div>
<center>
<div class="acoes">
  <%= link_to clientes_path, :class => 'button gray' do %>
              <span class="voltar"></span> 
              <% end %>
  <%= link_to edit_cliente_path(@cliente), :class => 'button blue' do %>
                      <span class="editar"></span>          
          <% end %>          
          <% if @cliente.bloqueado? %>
            <%= link_to desbloquear_cliente_path(@cliente), html_options = {:class => "button green", :title => "Desbloquear", :id => "desbloquear_#{@cliente.id}"} do %>
                      <span class="desbloquear"></span>
            <% end %>
          <% else %>
            <%= link_to bloquear_cliente_path(@cliente), html_options = {:class => "button red", :title => "Bloquear", :id => "bloquear_#{@cliente.id}"} do %>
                      <span class="bloquear"></span>
            <% end %>
            <%= link_to new_pedido_path(:cliente_id => @cliente.id), html_options = {:class => "button green", :title => "Pedido"} do %>
                      <span class="pedido"></span>
            <% end %>                        
          <% end %>
    </div>
</center>