<%- model_class = Cliente -%>
<h2><%=t '.title', :default => model_class.model_name.human.titleize %></h2>
 <!--  <%= link_to t('.novo', :default => t("helpers.links.novo_cliente")),
            new_cliente_path, :class => 'button blue-cadastrar-top' %> -->

<br>
<div class="row">
    <div class="col-md-6">
      <ul class="list-group">
        <li class="list-group-item list-group-item-success"><strong> Dados Pessoais</strong> 
        </li>
        <li class="list-group-item"><strong>
          <%= model_class.human_attribute_name(:nome) %>:&nbsp;</strong> 
          <%= @cliente.nome %>
        </li>
        <li class="list-group-item"><strong>
          E-mail:
          <%= @cliente.usuario.email %>
        </li>
        <li class="list-group-item"><strong>
          <%= model_class.human_attribute_name(:cpf) %>:&nbsp;</strong> 
          <%= @cliente.cpf %>
        </li>
        <li class="list-group-item"><strong>
          <%= model_class.human_attribute_name(:rg) %>:&nbsp;</strong> 
          <%= @cliente.rg %>
        </li>
        <li class="list-group-item"><strong>
          <%= model_class.human_attribute_name(:sexo) %>:&nbsp;</strong> 
          <%= @cliente.sexo %>
        </li>
        <li class="list-group-item"><strong>
          <%= model_class.human_attribute_name(:data_de_nascimento) %>:&nbsp;</strong> 
          <%= @cliente.data_de_nascimento.strftime("%d/%m/%Y") %>
        </li>
        <li class="list-group-item"><strong>
          <%= model_class.human_attribute_name(:endereco) %>:&nbsp;</strong> 
          <%= @cliente.endereco %>
        </li>
        <li class="list-group-item"><strong>
          <%= model_class.human_attribute_name(:numero) %>:&nbsp;</strong>
          <%= @cliente.numero %>
        </li>
        <li class="list-group-item"><strong>
          <%= model_class.human_attribute_name(:bairro) %>:&nbsp;</strong>
          <%= @cliente.bairro %>
        </li>
        <li class="list-group-item"><strong>
          <%= model_class.human_attribute_name(:cidade) %>:&nbsp;</strong>
          <%= @cliente.cidade %>
        </li>
        <li class="list-group-item"><strong>
          <%= model_class.human_attribute_name(:complemento) %>:&nbsp;</strong>
          <%= @cliente.complemento %>
        </li>
        <li class="list-group-item"><strong>
          <%= model_class.human_attribute_name(:telefone) %>:&nbsp;</strong>
          <%= @cliente.telefone %>
        </li>
        <li class="list-group-item"><strong>
          <%= model_class.human_attribute_name(:celular) %>:&nbsp;</strong>
          <%= @cliente.celular %>
        </li>           
      </ul>
    </div>

    <div class="col-md-6">
      <ul class="list-group">
        <li class="list-group-item list-group-item-success"><strong> Dados Profissionais</strong> 
        </li>
        <li class="list-group-item"><strong>
          <%= model_class.human_attribute_name(:empresa) %>:&nbsp;</strong> 
          <%= @cliente.empresa.nome %>
        </li>
        <li class="list-group-item"><strong>
          <%= model_class.human_attribute_name(:cargo) %>:&nbsp;</strong>
          <%= @cliente.cargo %>
        </li>
        <li class="list-group-item"><strong>
          <%= model_class.human_attribute_name(:setor) %>:&nbsp;</strong>
          <%= @cliente.setor %>
        </li>
        <li class="list-group-item"><strong>
          <%= model_class.human_attribute_name(:telefone_empresa) %>:&nbsp;</strong>
          <%= @cliente.telefone_empresa %>
        </li>
        <li class="list-group-item"><strong>
          <%= model_class.human_attribute_name(:ramal) %>:&nbsp;</strong>
          <%= @cliente.ramal %>
        </li>
        <li class="list-group-item"><strong>
          <%= model_class.human_attribute_name(:celular_empresa) %>:&nbsp;</strong>
          <%= @cliente.celular_empresa %>
        </li>        
        <li class="list-group-item"><strong>
          <%= model_class.human_attribute_name(:email_empresa) %>:&nbsp;</strong>
          <%= @cliente.email_empresa %>
        </li>
      </ul>
    </div>
</div>

<h2> Dados dos Pedidos</h2> <br><br> 
<table class="table table-striped">
          <thead>
            <tr>
              <th>Valor</th>
              <th>Data</th>
              <th>Situação</th>      
              <th>Descrição</th>      
            </tr>
          </thead>
          <tbody>
            <% @pedidos.each do |pedido| %>
              <tr>
                <td>R$ <%= pedido.valor %></td>
                <td><%= pedido.created_at.strftime("%d/%m/%Y") %></td>
                <td><%= pedido.situacao %></td>
                <td>  <% pedido.pedidos_acompanhamentos.each do |pedido_acompanhamento| %>
                            <%= pedido_acompanhamento.quantidade %> <%= pedido_acompanhamento.acompanhamento.nome %>, 
                           <% end %>
                          <% pedido.pedidos_proteinas.each do |pedido_proteina| %>
                            <%= pedido_proteina.quantidade %> <%= pedido_proteina.proteina.nome %>, 
                          <% end %>

                          <% pedido.pedidos_guarnicoes.each do |pedido_guarnicao| %>
                            <%= pedido_guarnicao.quantidade %> <%= pedido_guarnicao.guarnicao.nome %>, 
                          <% end %>

                          <% pedido.pedidos_saladas.each do |pedido_salada| %>
                            <%= pedido_salada.quantidade %> <%= pedido_salada.salada.nome %>, 
                          <% end %>
                         
                          <% pedido.pedidos_bebidas.each do |pedido_bebida| %>
                            <%= pedido_bebida.quantidade %> <%= pedido_bebida.bebida.nome %>, 
                          <% end %>
                         
                          <% pedido.pedidos_sobremesas.each do |pedido_sobremesa| %>
                            <%= pedido_sobremesa.quantidade %> <%= pedido_sobremesa.sobremesa.nome %>, 
                          <% end %>
              </td>
              </tr>
            <% end %>
          </tbody>
        </table><br>  
  <div class="row">
  <div class="col-md-12 text-center">
    Saldo Atual: R$ <%= @cliente.conta.saldo.to_f %>
   </div>
  </div><br><br> 
<div class="row">
  <div class="col-md-12 text-center">
    <div class="btn-group">
          <%= link_to clientes_path, :class => 'btn btn-default' do %>
              <span class="glyphicon glyphicon-arrow-left"></span>
              <% end %>
    </div>
    <div class="btn-group">
            <%= link_to new_pedido_path(:cliente_id => @cliente.id), html_options = {:class => "btn btn-primary", :title => "Pedido"} do %>
                      <span class="glyphicon glyphicon-cutlery"></span>
            <% end %>      
      </div>                
    <div class="btn-group">
      <%= link_to conta_cliente_path(@cliente), html_options = {:class => "btn btn-success", :title => "Conta"} do %>
        <span class="glyphicon glyphicon-euro"></span>
      <% end %>                        
    </div>        
    <div class="btn-group">
          <%= link_to edit_cliente_path(@cliente), :class => 'btn btn-warning' do %>
              <span class="glyphicon glyphicon-pencil"></span>         
          <% end %>
    </div>
    <div class="btn-group">
          <% if can? :bloquear, Cliente %>          
            <% if @cliente.bloqueado? %>
    
              <%= link_to desbloquear_cliente_path(@cliente), html_options = {:class => "btn btn-success", :title => "Desbloquear", :id => "desbloquear_#{@cliente.id}"} do %>
                        <span class="glyphicon glyphicon-plus"></span>
              <% end %>
            <% else %>
              <%= link_to bloquear_cliente_path(@cliente), html_options = {:class => "btn btn-danger", :title => "Bloquear", :id => "bloquear_#{@cliente.id}"} do %>
                        <span class="glyphicon glyphicon-remove"></span>
              <% end %>
            <% end %>
          <% end %>
      </div>    
    </div>
  </div>
  <br><br>
</div>
