<%- model_class = Cliente -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %>
  <%= link_to t('.novo', :default => t("helpers.links.novo_cliente")),
            new_cliente_path,
            :class => 'btn btn-primary' %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:nome) %>:</strong></dt>
  <dd><%= @cliente.nome %></dd>
  <dt><strong><%= model_class.human_attribute_name(:cpf) %>:</strong></dt>
  <dd><%= @cliente.cpf %></dd>
  <dt><strong><%= model_class.human_attribute_name(:rg) %>:</strong></dt>
  <dd><%= @cliente.rg %></dd>
  <dt><strong><%= model_class.human_attribute_name(:sexo) %>:</strong></dt>
  <dd><%= @cliente.sexo %></dd>
  <dt><strong><%= model_class.human_attribute_name(:data_de_nascimento) %>:</strong></dt>
  <dd><%= @cliente.data_de_nascimento %></dd>
  <dt><strong><%= model_class.human_attribute_name(:endereco) %>:</strong></dt>
  <dd><%= @cliente.endereco %></dd>
  <dt><strong><%= model_class.human_attribute_name(:numero) %>:</strong></dt>
  <dd><%= @cliente.numero %></dd>
  <dt><strong><%= model_class.human_attribute_name(:bairro) %>:</strong></dt>
  <dd><%= @cliente.bairro %></dd>
  <dt><strong><%= model_class.human_attribute_name(:cidade) %>:</strong></dt>
  <dd><%= @cliente.cidade %></dd>
  <dt><strong><%= model_class.human_attribute_name(:complemento) %>:</strong></dt>
  <dd><%= @cliente.complemento %></dd>
  <dt><strong><%= model_class.human_attribute_name(:telefone) %>:</strong></dt>
  <dd><%= @cliente.telefone %></dd>
  <dt><strong><%= model_class.human_attribute_name(:celular) %>:</strong></dt>
  <dd><%= @cliente.celular %></dd>
  <dt><strong><%= model_class.human_attribute_name(:empresa) %>:</strong></dt>
  <dd><%= @cliente.empresa.nome %></dd>
  <dt><strong><%= model_class.human_attribute_name(:cargo) %>:</strong></dt>
  <dd><%= @cliente.cargo %></dd>
  <dt><strong><%= model_class.human_attribute_name(:setor) %>:</strong></dt>
  <dd><%= @cliente.setor %></dd>
  <dt><strong><%= model_class.human_attribute_name(:telefone_empresa) %>:</strong></dt>
  <dd><%= @cliente.telefone_empresa %></dd>
  <dt><strong><%= model_class.human_attribute_name(:ramal) %>:</strong></dt>
  <dd><%= @cliente.ramal %></dd>  
  <dt><strong><%= model_class.human_attribute_name(:celular_empresa) %>:</strong></dt>
  <dd><%= @cliente.celular_empresa %></dd>
  <dt><strong><%= model_class.human_attribute_name(:email_empresa) %>:</strong></dt>
  <dd><%= @cliente.email_empresa %></dd>
</dl>

<div class="form-actions">
  <%= link_to t('.voltar', :default => t("helpers.links.voltar")),
              clientes_path, :class => 'btn btn-primary'  %>
  <%= link_to t('.editar', :default => t("helpers.links.editar")),
              edit_cliente_path(@cliente), :class => 'btn btn-primary' %>
  <%= link_to t('.excluir', :default => t("helpers.links.excluir")),
              cliente_path(@cliente),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Deseja excluir este cliente?')) },
              :class => 'btn btn-danger' %>
</div>
