<h2>Não recebeu a confirmação de cadastro?</h2>

<%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post, :class => 'form-horizontal validate' }) do |f| %>
  <%= devise_error_messages! %>
<br>
 <div class="row">
        <div class="col-md-6">
          <div class="panel panel-success">
            <div class="panel-heading">
              <h3 class="panel-title">Reenviar instruções de confirmação</h3>
            </div>
            <div class="panel-body">
                <div class="form-group">
                  <div class="col-sm-2">
                    <label class="control-label">E-mail</label>
                  </div>
                  <div class="col-sm-10">
                    <%= f.email_field :email, autofocus: true, :class => "form-control required email" %>                    
                    <span class="validate">Informe um e-mail válido.</span>
                  </div>
                </div>                  
            </div>
          </div>
        </div>
 </div>
<br>
<div class="row">
        <div class="col-md-12 text-center">   
        	<%= f.submit "Enviar", :class => 'btn btn-success' %>                  
        	<%= link_to "Cancelar", root_path, :class => 'btn btn-default' %>
        </div>
</div>
<% end %>
<br><br>
<div class="row">
    <div class="col-md-12 text-center"> 
      <%= render "devise/shared/links" %>
    </div>
</div>