<h2>Guarnições</h2> <br>
<%- model_class = Guarnicao -%>
<div class="row">
        <div class="col-md-6 "> 
        <%= link_to "Nova Guarnicão", new_guarnicao_path, :class => 'btn btn-success' %>                  
        </div>        
</div>
<br>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:nome) %></th>
      <th><%= model_class.human_attribute_name(:quantidade) %></th>
      <th><%= model_class.human_attribute_name(:valor) %></th>
      <th><%= model_class.human_attribute_name(:disponibilidade) %></th>
      <th width="164px"><center><%=t '.ações', :default => t("helpers.ações") %></center></th>
    </tr>
  </thead>
  <tbody>
    <% @guarnicoes.each do |guarnicao| %>
      <% if guarnicao.disponibilidade? %>
      <tr>
        <td><%= guarnicao.nome %></td>
        <td><%= guarnicao.quantidade %></td>
        <td>R$<%= exibir_decimal(guarnicao.valor) %></td>
        <td><% if guarnicao.disponibilidade? %> Ativado <% else %> Desativado <% end %></td>
        <td>
          <%= link_to edit_guarnicao_path(guarnicao), html_options = { :class => 'btn btn-warning btn-sm', :title => "Editar Dados"} do %>
                       <span class="glyphicon glyphicon-pencil"></span>
                      <% end %>
          <%= link_to guarnicao_path(guarnicao), html_options = { :class => 'btn btn-info btn-sm', :title => "Ver Dados Completos"} do %>
                     <span class="glyphicon glyphicon-list-alt"></span>        
          <% end %>
          <% if guarnicao.disponibilidade? %>
          <%= link_to desativar_guarnicao_path(guarnicao), html_options = { :class => 'btn btn-danger btn-sm', :title => "Desativar"} do %>
                       <span class="glyphicon glyphicon-remove"></span>         
          <% end %>
          <% else %>
            <%= link_to edit_guarnicao_path(guarnicao), html_options = { :class => 'btn btn-success btn-sm', :title => "Ativar"} do %>
              <span class="glyphicon glyphicon-ok"></span>
            <% end %>
          <% end %>
        </td>
      </tr>
      <% else %>
      <tr class="list-group-font-danger">
        <td><%= guarnicao.nome %></td>
        <td><%= guarnicao.quantidade %></td>
        <td>R$<%= exibir_decimal(guarnicao.valor) %></td>
        <td><% if guarnicao.disponibilidade? %> Ativado <% else %> Desativado <% end %></td>
        <td>
          <%= link_to edit_guarnicao_path(guarnicao), html_options = { :class => 'btn btn-warning btn-sm', :title => "Editar Dados"} do %>
                       <span class="glyphicon glyphicon-pencil"></span>
                      <% end %>
          <%= link_to guarnicao_path(guarnicao), html_options = { :class => 'btn btn-info btn-sm', :title => "Ver Dados Completos"} do %>
                     <span class="glyphicon glyphicon-list-alt"></span>        
          <% end %>
          <% if guarnicao.disponibilidade? %>
          <%= link_to desativar_guarnicao_path(guarnicao), html_options = { :class => 'btn btn-danger btn-sm', :title => "Desativar"} do %>
                       <span class="glyphicon glyphicon-remove"></span>         
          <% end %>
          <% else %>
            <%= link_to edit_guarnicao_path(guarnicao), html_options = { :class => 'btn btn-success btn-sm', :title => "Ativar"} do %>
              <span class="glyphicon glyphicon-ok"></span>
            <% end %>
          <% end %>
        </td>
      </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
<br>
<%= will_paginate @guarnicoes, renderer: BootstrapPagination::Rails %>

<div class="row">
        <div class="col-md-6 text-right "> 
        <%= link_to "Nova Guarnicão", new_guarnicao_path, :class => 'btn btn-success' %>                  
        </div>        
         <div class="col-md-6">
          <%= link_to "Cancelar", home_inicial_path, :class => 'btn btn-default' %>
        </div>
</div>