<%- model_class = Guarnicao -%>
<div class="page-header">
  <h1 class='titulo'><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %><br/>
  <%= link_to "Nova Guarnicao",
            new_guarnicao_path,
            :class => 'button blue-cadastrar-top' %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:nome) %></th>
      <th><%= model_class.human_attribute_name(:quantidade) %></th>
      <th><%= model_class.human_attribute_name(:valor) %></th>
      <th><%= model_class.human_attribute_name(:disponibilidade) %></th>
      <th width="164px"><center><%=t '.ações', :default => t("helpers.ações") %></center></th>
    </tr>
  </thead>
  <tbody>
    <% @guarnicoes.each do |guarnicao| %>
      <tr>
        <td><%= guarnicao.nome %></td>
        <td><%= guarnicao.quantidade %></td>
        <td>R$<%= exibir_decimal(guarnicao.valor) %></td>
        <td><% if guarnicao.disponibilidade? %> Ativado <% else %> Desativado <% end %></td>
        <td>
          <%= link_to edit_guarnicao_path(guarnicao), html_options = { :class => 'button blue', :title => "Editar Dados"} do %>
                      <span class="editar"></span>
                      <% end %>
          <%= link_to guarnicao_path(guarnicao), html_options = { :class => 'button green', :title => "Ver Dados Completos"} do %>
                      <span class="listar"></span>          
          <% end %>
          <%= link_to desativar_guarnicao_path(guarnicao), html_options = { :class => 'button red', :title => "Desativar"} do %>
                      <span class="remover"></span>          
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate @guarnicoes, renderer: BootstrapPagination::Rails %>

<%= link_to "Nova Guarnicao",
            new_guarnicao_path,
            :class => 'button blue-cadastrar-bottom' %>
