<center><h1>cadastro de novo cliente.</h1></center><br>

<% resource.build_cliente %>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name), :html => { :class => 'validate' }) do |f| %>
<%= f.fields_for :cliente do |cliente_form| %>
<table>
  <td>  
  <fieldset class="form-clientes pess">
  <legend class="legend1">Dados de Sistema</legend>
    <p>
      <%= f.label :email %>
      <%= f.text_field :email, autofocus: true, :class => "required email" %>
      <span class="validate">Campo requerido</span>
    </p>
    <p>
      <%= f.label :password, "Senha" %>
      <%= f.password_field :password, autocomplete: "off", :class => "required password" %>
       <span class="validate">Campo requerido</span>
    </p>
    <p>
      <%= f.label :password_confirmation, "Confirmação de senha" %>
      <%= f.password_field :password_confirmation, autocomplete: "off", :class => "required password"%>
       <span class="validate">Campo requerido</span>
    </p>
    <p>
      <%= cliente_form.label :data_de_pagamento, :class => 'control-label' %>
      <%= cliente_form.text_field :data_de_pagamento, :class => 'required numeric' %>
      <span class="validate">Campo requerido</span>
    </p>
  </fieldset>
  <fieldset class="form-clientes pess">
  <legend class="legend1">Dados Pessoais</legend>
    <p>  
      <%= cliente_form.label "Nome"%>
      <%= cliente_form.text_field :nome, :class => 'required' %>
      <span class="validate">Campo requerido</span>
    </p>
    <p>
      <%= cliente_form.label :cpf, "CPF", :class => 'control-label' %>
      <%= cliente_form.text_field :cpf, :class => 'required cpf' %>
      <span class="validate">Campo requerido</span>
    </p>
    <p>
      <%= cliente_form.label :rg, "RG", :class => 'control-label' %>
      <%= cliente_form.text_field :rg, :class => 'required numeric' %>
      <span class="validate">Campo requerido</span>
    </p>
    <p>
      <%= cliente_form.label :sexo, :class => 'control-label' %>
      M
      <%= cliente_form.radio_button :sexo, "M" , :checked => true, :value => "Masculino" %>
      F
      <%= cliente_form.radio_button :sexo, "F" , :checked => false, :value => "Feminino" %>
    </p>
    <p>
      <%= cliente_form.label :data_de_nascimento, :class => 'control-label' %>
      <%= cliente_form.text_field :data_de_nascimento, :class => 'required' %>
      <span class="validate">Campo requerido</span>
    </p>
    <p>
      <%= cliente_form.label :endereco, :class => 'control-label' %>
      <%= cliente_form.text_field :endereco, :class => 'required' %>
      <span class="validate">Campo requerido</span>
    </p>
    <p>
      <%= cliente_form.label :numero, :class => 'control-label' %>
      <%= cliente_form.text_field :numero, :class => 'required' %>
      <span class="validate">Campo requerido</span>
    </p>
    <p>
      <%= cliente_form.label :bairro, :class => 'control-label' %>
      <%= cliente_form.text_field :bairro, :class => 'required' %>
      <span class="validate">Campo requerido</span>
    </p>
    <p>
      <%= cliente_form.label :cidade, :class => 'control-label' %>
      <%= cliente_form.text_field :cidade, :class => 'required' %>
      <span class="validate">Campo requerido</span>
    </p>
    <p>
      <%= cliente_form.label :complemento, :class => 'control-label' %>
      <%= cliente_form.text_field :complemento, :class => 'text_field' %>
    </p>
    <p>
      <%= cliente_form.label :telefone, :class => 'control-label' %>
      <%= cliente_form.text_field :telefone, :class => 'text_field' %>
    </p>
    <p>
      <%= cliente_form.label :celular, :class => 'control-label' %>
      <%= cliente_form.text_field :celular, :class => 'required' %>
      <span class="validate">Campo requerido</span>
    </p>

    </fieldset>
    <fieldset class="form-clientes pess">
    <legend class="legend1">Dados Profissionais</legend>
      <p>
        <%= cliente_form.label :empresa, :class => 'control-label' %>
        <%= cliente_form.collection_select :empresa_id, Empresa.all, :id, :nome, {:prompt => "Selecione"} , { :class => 'required' } %>
        <span class="validate">Selecione um item</span>
      </p>
      <p>
        <%= cliente_form.label :cargo, :class => 'control-label' %>
        <%= cliente_form.text_field :cargo, :class => 'required' %>
        <span class="validate">Campo requerido</span>
      </p>
      <p>
        <%= cliente_form.label :setor, :class => 'control-label' %>
        <%= cliente_form.text_field :setor, :class => 'required' %>
        <span class="validate">Campo requerido</span>
      </p>
      <p>
        <%= cliente_form.label :telefone_empresa, "Telefone Fixo", :class => 'control-label' %>
        <%= cliente_form.text_field :telefone_empresa, :class => 'required' %>
        <span class="validate">Campo requerido</span>
      </p>
      <p>
        <%= cliente_form.label :ramal, :class => 'control-label' %>
        <%= cliente_form.text_field :ramal, :class => 'text_field' %>
      </p>
      <p>
        <%= cliente_form.label :celular_empresa, "Celular", :class => 'control-label' %>
        <%= cliente_form.text_field :celular_empresa, :class => 'text_field' %>
      </p>
      <p>
        <%= cliente_form.label :email_empresa, "Email", :class => 'control-label' %>
        <%= cliente_form.text_field :email_empresa, :class => 'text_field' %>
      </p>
   </fieldset>
   <fieldset class="bot">
    <p>
      <%= f.submit nil, :class => 'button blue-cadastrar-top' %>
      <%= link_to "Cancelar", root_path, :class => 'button gray-voltar' %>
    </p>
  </fieldset>
</td>
</table>
<% end %>
<% end %>