<h2>Cadastrar</h2>

<% resource.build_cliente %>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name), :html => { :class => 'validate' }) do |f| %>
  <%= devise_error_messages! %>

  <%= f.fields_for :cliente do |cliente_form| %>
  
    <fieldset class="form-clientes pess">
    <legend>Dados de Sistema</legend>
    <%= f.label :email %>
    <%= f.text_field :email, autofocus: true, :class => "input_default" %>

    <div><%= f.label :password, "Senha" %>
      <%= f.password_field :password, autocomplete: "off", :class => "input_default" %></div>

    <div><%= f.label :password_confirmation, "Confirmação de senha" %>
      <%= f.password_field :password_confirmation, autocomplete: "off", :class => "input_default"%></div>
    <div class="control-group">
      <%= cliente_form.label :data_de_pagamento, :class => 'control-label' %>
      <div class="controls">
        <%= cliente_form.text_field :data_de_pagamento, :class => 'text_field' %>
      </div>
    </div>
  </fieldset>
<%#= form_for @cliente, :html => { :class => 'validate' } do |f| %>
    <fieldset class="form-clientes pess">
      <legend>Dados Pessoais</legend>
        <%= cliente_form.label "Nome"%>
        <%= cliente_form.text_field :nome%>
   
        <%= cliente_form.label :cpf, "CPF", :class => 'control-label' %>
        <%= cliente_form.text_field :cpf, :class => 'text_field' %>
     
        <%= cliente_form.label :rg, "RG", :class => 'control-label' %>
        <%= cliente_form.text_field :rg, :class => 'text_field' %>
     
        <%= cliente_form.label :sexo, :class => 'control-label' %>
        M
        <%= cliente_form.radio_button :sexo, "M" , :checked => true, :value => "Masculino" %>
        F
        <%= cliente_form.radio_button :sexo, "F" , :checked => false, :value => "Feminino" %>
      
        <%= cliente_form.label :data_de_nascimento, :class => 'control-label' %>

      <%= cliente_form.text_field :data_de_nascimento, :class => 'text_field' %>

      <%= cliente_form.label :endereco, :class => 'control-label' %>

        <%= cliente_form.text_field :endereco, :class => 'text_field' %>

      <%= cliente_form.label :numero, :class => 'control-label' %>

        <%= cliente_form.text_field :numero, :class => 'text_field' %>

      <%= cliente_form.label :bairro, :class => 'control-label' %>

        <%= cliente_form.text_field :bairro, :class => 'text_field' %>

      <%= cliente_form.label :cidade, :class => 'control-label' %>

        <%= cliente_form.text_field :cidade, :class => 'text_field' %>

    
      <%= cliente_form.label :complemento, :class => 'control-label' %>

        <%= cliente_form.text_field :complemento, :class => 'text_field' %>

      <%= cliente_form.label :telefone, :class => 'control-label' %>

        <%= cliente_form.text_field :telefone, :class => 'text_field' %>

      <%= cliente_form.label :celular, :class => 'control-label' %>

        <%= cliente_form.text_field :celular, :class => 'text_field' %>


        </fieldset>
        <fieldset class="form-clientes prof">
          <legend>Dados Profissionais</legend>
      <%= cliente_form.label :empresa, :class => 'control-label' %>
        
          <%= cliente_form.collection_select :empresa_id, Empresa.all, :id, :nome, :prompt => "Selecione", :class => 'text_field' %>
      


  
    <%= cliente_form.label :cargo, :class => 'control-label' %>
  
      <%= cliente_form.text_field :cargo, :class => 'text_field' %>
   

    <%= cliente_form.label :setor, :class => 'control-label' %>
  
      <%= cliente_form.text_field :setor, :class => 'text_field' %>
 
    <%= cliente_form.label :telefone_empresa, "Telefone Fixo", :class => 'control-label' %>

      <%= cliente_form.text_field :telefone_empresa, :class => 'text_field' %>
  
    <%= cliente_form.label :ramal, :class => 'control-label' %>

      <%= cliente_form.text_field :ramal, :class => 'text_field' %>

    <%= cliente_form.label :celular_empresa, "Celular", :class => 'control-label' %>
  
      <%= cliente_form.text_field :celular_empresa, :class => 'text_field' %>
  
    <%= cliente_form.label :email_empresa, "Email", :class => 'control-label' %>

      <%= cliente_form.text_field :email_empresa, :class => 'text_field' %>

   </fieldset>

<fieldset class="bot">
   <%= f.submit nil, :class => 'button blue-cadastrar-top' %>
</fieldset>

<% end %>
<% end %>