<h2>Proteínas</h2> <br>
<%- model_class = Proteina -%>
<div class="row">
        <div class="col-md-6 "> 
        <%= link_to "Nova Proteína", new_proteina_path, :class => 'btn btn-primary' %>                  
        </div>        
</div>
<br>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:nome) %></th>
      <th><%= model_class.human_attribute_name(:quantidade) %></th>
      <th><%= model_class.human_attribute_name(:valor) %></th>
      <th><%= model_class.human_attribute_name(:disponibilidade) %></th>
      <th width="164px"><center><%=t '.ações', :default => t("helpers.ações") %></center></th>
    </tr>
  </thead>
  <tbody>
    <% @proteinas.each do |proteina| %>
      <% if proteina.disponibilidade? %>
      <tr>
        <td><%= proteina.nome %></td>
        <td><%= proteina.quantidade %></td>
        <td>R$<%= exibir_decimal(proteina.valor) %></td>
        <td><% if proteina.disponibilidade? %> Ativado <% else %> Desativado <% end %></td>
        <td>
          <%= link_to edit_proteina_path(proteina), html_options = { :class => 'btn btn-warning btn-sm', :title => "Editar Dados"} do %>
            <span class="glyphicon glyphicon-pencil"></span>
          <% end %>
          <%= link_to proteina_path(proteina), html_options = { :class => 'btn btn-info btn-sm', :title => "Ver Dados Completos"} do %>
            <span class="glyphicon glyphicon-list-alt"></span>
          <% end %>          
          <%= link_to desativar_proteina_path(proteina), html_options = { :class => 'btn btn-danger btn-sm', :title => "Desativar"} do %>
            <span class="glyphicon glyphicon-remove"></span>
          <% end %>
        </td>
      </tr>
      <% else %>
      <tr class="list-group-font-danger">
        <td><%= proteina.nome %></td>
        <td><%= proteina.quantidade %></td>
        <td>R$<%= exibir_decimal(proteina.valor) %></td>
        <td><% if proteina.disponibilidade? %> Ativado <% else %> Desativado <% end %></td>
        <td>
          <%= link_to edit_proteina_path(proteina), html_options = { :class => 'btn btn-warning btn-sm', :title => "Editar Dados"} do %>
            <span class="glyphicon glyphicon-pencil"></span>
          <% end %>
          <%= link_to proteina_path(proteina), html_options = { :class => 'btn btn-info btn-sm', :title => "Ver Dados Completos"} do %>
            <span class="glyphicon glyphicon-list-alt"></span>
          <% end %>
          <% if proteina.disponibilidade? %>          
          <%= link_to desativar_proteina_path(proteina), html_options = { :class => 'btn btn-danger btn-sm', :title => "Desativar"} do %>
            <span class="glyphicon glyphicon-remove"></span>
          <% end %>
           <% else %>
            <%= link_to edit_proteina_path(proteina), html_options = { :class => 'btn btn-success btn-sm', :title => "Ativar"} do %>
              <span class="glyphicon glyphicon-ok"></span>
            <% end %>
          <% end %>
        </td>
      </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<br>
<%= will_paginate @proteinas, renderer: BootstrapPagination::Rails %>

<div class="row">
        <div class="col-md-6 text-right "> 
        <%= link_to "Nova Proteína", new_proteina_path, :class => 'btn btn-primary' %>                  
        </div>        
         <div class="col-md-6">
          <%= link_to "Cancelar", home_inicial_path, :class => 'btn btn-default' %>
        </div>
</div>
