<h2>Acompanhamentos</h2> <br>
<%- model_class = Acompanhamento -%>

<div class="row">
        <div class="col-md-6 "> 
        <%= link_to "Nova Acompanhamento", new_acompanhamento_path, :class => 'btn btn-success' %>                  
        </div>        
</div>
<br>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:nome) %></th>
      <th><%= model_class.human_attribute_name(:quantidade) %></th>
      <th><%= model_class.human_attribute_name(:valor) %></th>
      <th><%= model_class.human_attribute_name(:disponibilidade) %></th>
      <th width="164px"><center><%=t '.ações', :default => t("helpers.ações") %></center></th>    
    </tr>
  </thead>
  <tbody>
      <% @acompanhamentos.each do |acompanhamento| %>
        <% if acompanhamento.disponibilidade? %>
      <tr>
        <td><%= acompanhamento.nome %></td>
        <td><%= acompanhamento.quantidade %></td>
        <td><%= acompanhamento.valor %></td>
        <td><% if acompanhamento.disponibilidade? %> Ativado <% else %> Desativado <% end %></td>
        <td>
          <%= link_to edit_acompanhamento_path(acompanhamento), html_options = { :class => 'btn btn-warning btn-sm', :title => "Editar Dados"} do %>
                      <span class="glyphicon glyphicon-pencil"></span>
                      <% end %>
          <%= link_to acompanhamento_path(acompanhamento), html_options = { :class => 'btn btn-info btn-sm', :title => "Ver Dados Completos"} do %>
                      <span class="glyphicon glyphicon-list-alt"></span>     
          <% end %>
          <% if acompanhamento.disponibilidade? %>
            <%= link_to desativar_acompanhamento_path(acompanhamento), html_options = { :class => 'btn btn-danger btn-sm', :title => "Desativar"} do %>
              <span class="glyphicon glyphicon-remove"></span>   
            <% end %>
          <% else %>
            <%= link_to edit_acompanhamento_path(acompanhamento), html_options = { :class => 'btn btn-success btn-sm', :title => "Ativar"} do %>
              <span class="glyphicon glyphicon-ok"></span>
            <% end %>
          <% end %>
        </td>
      </tr>

    <% else %>
    <tr class="list-group-font-danger">
        <td><%= acompanhamento.nome %></td>
        <td><%= acompanhamento.quantidade %></td>
        <td><%= acompanhamento.valor %></td>
        <td><% if acompanhamento.disponibilidade? %> Ativado <% else %> Desativado <% end %></td>
        <td>
          <%= link_to edit_acompanhamento_path(acompanhamento), html_options = { :class => 'btn btn-warning btn-sm', :title => "Editar Dados"} do %>
                      <span class="glyphicon glyphicon-pencil"></span>
                      <% end %>
          <%= link_to acompanhamento_path(acompanhamento), html_options = { :class => 'btn btn-info btn-sm', :title => "Ver Dados Completos"} do %>
                      <span class="glyphicon glyphicon-list-alt"></span>     
          <% end %>
          <% if acompanhamento.disponibilidade? %>
            <%= link_to desativar_acompanhamento_path(acompanhamento), html_options = { :class => 'btn btn-danger btn-sm', :title => "Desativar"} do %>
              <span class="glyphicon glyphicon-remove"></span>   
            <% end %>
          <% else %>
            <%= link_to edit_acompanhamento_path(acompanhamento), html_options = { :class => 'btn btn-success btn-sm', :title => "Ativar"} do %>
              <span class="glyphicon glyphicon-ok"></span>
            <% end %>
          <% end %>
        </td>
      </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
<br>
<%= will_paginate @acompanhamentos, renderer: BootstrapPagination::Rails %>
<div class="row">
        <div class="col-md-6 text-right "> 
        <%= link_to "Novo Acompanhamento", new_acompanhamento_path, :class => 'btn btn-success' %>                  
        </div>        
         <div class="col-md-6">
          <%= link_to "Cancelar", home_inicial_path, :class => 'btn btn-default' %>
        </div>
</div>