
<% if current_usuario.gerente? %>

<br><br>
<div class="row">
        <div class="col-md-6">
          <div class="panel panel-success">
            <div class="panel-heading">
              <h3 class="panel-title">Informações dos Clientes</h3>
            </div>
            <div class="panel-body">
              <p>Clientes Cadastrados: <%= Cliente.all.count %></p>
              <p>Clientes Bloqueados: <%= Cliente.where(bloqueado: true).count %></p>
              <p>Clientes Cadastrados hoje: <%= Cliente.where(created_at: Time.now.beginning_of_day).count %></p>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="panel panel-success">
            <div class="panel-heading">
              <h3 class="panel-title">Informações de Vendas</h3>
            </div>
            <div class="panel-body">
              <p>Quantidade de vendas do mês: <%= Pedido.confirmados_do_mes.count %></p> 
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="panel panel-success">
            <div class="panel-heading">
              <h3 class="panel-title">Informações dos Pedidos de Hoje</h3>
            </div>
            <div class="panel-body">
              <p>Quantidade de pedidos: <%= Pedido.de_hoje %></p>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="panel panel-success">
            <div class="panel-heading">
              <h3 class="panel-title">Informações do Estoque</h3>
            </div>
            <div class="panel-body">
              <table class='tabela'>
        <thead>
          <tr>
            <th>Acabando</th>
          </tr>
        </thead>
        <tbody>
          <% Produto.acabando.each do |produto| %>
            <tr>
              <td><%= produto.nome %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <table class='tabela'>
        <thead>
          <tr>
            <th>Em falta</th>
          </tr>
        </thead>
        <tbody>
          <% Produto.zerados.each do |produto| %>
            <tr>
              <td><%= produto.nome %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <%= link_to 'Detalhes', home_relatorio_produtos_path %> 
            </div>
          </div>
        </div>
  </div>

<% elsif current_usuario.admin? %>

<br><br>
<div class="row">
        <div class="col-md-6">
          <div class="panel panel-success">
            <div class="panel-heading">
              <h3 class="panel-title">Informações dos Clientes</h3>
            </div>
            <div class="panel-body">
              <p>Clientes Cadastrados: <%= Cliente.all.count %></p>
              <p>Clientes Bloqueados: <%= Cliente.where(bloqueado: true).count %></p>
              <p>Clientes Cadastrados hoje: <%= Cliente.where(created_at: Time.now.beginning_of_day).count %></p>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="panel panel-success">
            <div class="panel-heading">
              <h3 class="panel-title">Informações de Vendas</h3>
            </div>
            <div class="panel-body">
              <p>Valor vendido hoje: R$ <%= exibir_decimal(Pedido.vendidos_hoje) %></p>
              <p>Vendas do mês: R$<%= exibir_decimal(Pedido.vendas_do_mes) %></p> 
              <p>Pedidos Confirmados: <%= Pedido.confirmados_do_mes.count %></p> 
              <p>Pedidos Cancelados: <%= Pedido.cancelados_do_mes.count %></p> 
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="panel panel-success">
            <div class="panel-heading">
              <h3 class="panel-title">Informações dos Pedidos de Hoje</h3>
            </div>
            <div class="panel-body">
              <p>Valor vendido hoje: R$<%= exibir_decimal(Pedido.vendidos_hoje) %></p>
              <p>Pedidos Confirmados: <%= Pedido.confirmados_do_dia.count %></p>
              <p>Pedidos Cancelados: <%= Pedido.cancelados_do_dia.count %></p>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="panel panel-success">
            <div class="panel-heading">
              <h3 class="panel-title">Informações do Estoque</h3>
            </div>
            <div class="panel-body">
              <p><strong>Acabando:</strong> <%= Produto.acabando.count %></p>
              <p><strong>Em falta:</strong> <%= Produto.zerados.count %></p>            

      <center><%= link_to 'Detalhes', home_relatorio_produtos_path %> </center>
            </div>
          </div>
        </div>
  </div>
  <% else %>
<br>
<center><h1>Cardápio de Hoje</h1></center><br>
  <div class="row">
        <div class="col-md-4">
          <div class="thumbnail">
            <img src="../images/proteina.jpg" class="img-responsive">
            <div class="caption">
              <h3>Proteínas</h3>
              <p><% Proteina.all.where(:disponibilidade => true).each do |proteina| %>
                  <% if Proteina.all.where(:disponibilidade => true).last == proteina %>
                    <%= proteina.nome %>.
                  <% else %>
                    <%= proteina.nome %> ,
                  <% end %>
              <% end %></p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="thumbnail">
            <img src="../images/carboidrato.jpg" class="img-responsive">
            <div class="caption">
              <h3>Guarnições</h3>
              <p><% Guarnicao.all.where(:disponibilidade => true).each do |guarnicao| %>
                  <% if Guarnicao.all.where(:disponibilidade => true).last == guarnicao %>
                    <%= guarnicao.nome %>.
                  <% else %>
                    <%= guarnicao.nome %> ,
                  <% end %>
              <% end %></p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="thumbnail">
            <img src="../images/acompanhamento.jpg" class="img-responsive">
            <div class="caption">
              <h3>Acompanhamentos</h3>
              <p><% Acompanhamento.all.where(:disponibilidade => true).each do |acompanhamento| %>
                  <% if Acompanhamento.all.where(:disponibilidade => true).last == acompanhamento %>
                    <%= acompanhamento.nome %>.
                  <% else %>
                    <%= acompanhamento.nome %> ,
                  <% end %>
              <% end %>  </p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="thumbnail">
            <img src="../images/salada.jpg" class="img-responsive">
            <div class="caption">
              <h3>Saladas</h3>
              <p>   <% Salada.all.where(:disponibilidade => true).each do |salada| %>
                  <% if Salada.all.where(:disponibilidade => true).last == salada %>
                    <%= salada.nome %>.
                  <% else %>
                    <%= salada.nome %> ,
                  <% end %>
              <% end %> </p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="thumbnail">
            <img src="../images/sobremesa.jpg" class="img-responsive">
            <div class="caption">
              <h3>Sobremesas</h3>
              <p><% Sobremesa.all.where(:disponibilidade => true).each do |sobremesa| %>
                  <% if Sobremesa.all.where(:disponibilidade => true).last == sobremesa %>
                    <%= sobremesa.nome %>.
                  <% else %>
                    <%= sobremesa.nome %> ,
                  <% end %>
              <% end %>  </p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="thumbnail">
            <img src="../images/bebidas.jpg" class="img-responsive">
            <div class="caption">
              <h3>Bebidas</h3>
              <p><% Bebida.all.where(:disponibilidade => true).each do |bebida| %>
                  <% if Bebida.all.where(:disponibilidade => true).last == bebida %>
                    <%= bebida.nome %>.
                  <% else %>
                    <%= bebida.nome %> ,
                  <% end %>
              <% end %></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  
    <div class="container white"><br><hr>
      <center><b><h3>Conta</h3></b><p>Quantidade de pedidos:  <%= current_usuario.cliente.pedidos.count %></p>
      <p>Saldo atual: R$<%= current_usuario.cliente.conta.saldo.to_f %></p></center>
  <br><br>
</div>
<% end %>