<% if @pedidos.empty? %>

    Não existem pedidos confirmados para o dia de hoje.

  <% else %>
    <% @pedidos.each_with_index do |pedido,i| %>
   
    
  <div class="panel panel-default">
    <div class="panel-heading"><strong>Cliente:</strong> <%= pedido.cliente.nome %> - <%= pedido.cliente.empresa.nome %> - <%= pedido.cliente.setor %></div>
      
      <table class="table">  
        <thead>
          <tr>
            <th><strong>Acompanhamentos</strong></th>
            <th><strong>Proteinas</strong></th>
            <th><strong>Guarnições</strong></th>            
          </tr>
        </thead>
        <!-- <tbody> -->
          <tr>          
            <td><% pedido.pedidos_acompanhamentos.each do |pedido_acompanhamento| %>
            <%= pedido_acompanhamento.quantidade %> <%= pedido_acompanhamento.acompanhamento.nome %><br>
            <% end %></td>

            <td><% pedido.pedidos_proteinas.each do |pedido_proteina| %>
            <%= pedido_proteina.quantidade %> <%= pedido_proteina.proteina.nome %><br>
            <% end %></td>
            
            <td><% pedido.pedidos_guarnicoes.each do |pedido_guarnicao| %>
            <%= pedido_guarnicao.quantidade %> <%= pedido_guarnicao.guarnicao.nome %><br>
            <% end %></td>
          </tr>

         <thead>
          <tr>
            <th><strong>Saladas</strong></th>
            <th><strong>Bebidas</strong></th>
            <th><strong>Sobremesas</strong></th>            
          </tr>
         </thead>
          <tr>
            <td><% pedido.pedidos_saladas.each do |pedido_salada| %>
            <%= pedido_salada.quantidade %> <%= pedido_salada.salada.nome %><br>
            <% end %></td>
            
            <td><% pedido.pedidos_bebidas.each do |pedido_bebida| %>
            <%= pedido_bebida.quantidade %> <%= pedido_bebida.bebida.nome %><br>
            <% end %></td>
            
            <td><% pedido.pedidos_sobremesas.each do |pedido_sobremesa| %>
            <%= pedido_sobremesa.quantidade %> <%= pedido_sobremesa.sobremesa.nome %><br>
            <% end %></td>
          </tr>

        <thead>
          <tr>
            <td><strong>Observação: </strong> <%= pedido.observacao %></td>
            <td><strong>Valor:</strong><font color="red" font-size="12pt"> R$ <%= pedido.valor %></font></td>         
          </tr>
        </thead>           
        <!-- </tbody> -->
      </table>
   
  </div>
      <% if ((i+1) % 3) == 0 %>
        <div class="break"> </div>
      <% end %>
    <% end %>
  <% end %>