<h1>Listing orders</h1>

<table>
  <thead>
    <tr>
      <th>Descricao</th>
      <th>Valor</th>
      <th>Client</th>
      <th>Forma de pagamento</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.descricao %></td>
        <td><%= order.valor %></td>
        <td><%= order.client_id %></td>
        <td><%= order.forma_de_pagamento %></td>
        <td><%= link_to 'Show', order %></td>
        <td><%= link_to 'Edit', edit_order_path(order) %></td>
        <td><%= link_to 'Destroy', order, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Order', new_order_path %>
