<%= nested_form_for @pedido, :html => { :class => ' form-horizontal validate' } do |f| %>

  <% @pedido.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
  <% end %>


  <% if current_usuario.admin? && params[:action] == "new" %>
  <h4> Cliente: <%= Cliente.find_by_id(params[:cliente_id].to_i).nome %> </h4>
  <% elsif current_usuario.admin? && params[:action] == "edit" %>
    <h4> Cliente: <%= Pedido.find_by_id(params[:id].to_i).cliente.nome %> </h4>
  <% else %>
    <h4> Cliente: <%= current_usuario.cliente.nome %> </h4>
  <% end %>
 <br><br>
 
 <div class="row">
    <div class="col-md-4">
        <div class="panel panel-success">
          <div class="panel-heading">
            <h3 class="panel-title">Acompanhamentos</h3>
          </div>
          <div class="panel-body">
              Quantidade sem acréscimo: <%= Pedido::LIMITE_ACOMPANHAMENTOS %><br/><br/>
              <% @acompanhamentos_disponiveis.each_with_index do |acompanhamento,i| %>
              <%# debugger %>
                <%#= collection_check_boxes :pedido, :proteina_ids, @proteinas_disponiveis, :id, :nome %>
                <%#= check_box_tag "acompanhamento_#{i}", "#{acompanhamento.nome}", (@pedido.acompanhamentos.include? acompanhamento ? true : false), :value => "#{acompanhamento.id}" %>
                <%#= "#{acompanhamento.nome}" %>
                <% if !@pedido.acompanhamentos.include? acompanhamento %>
                <div class="col-md-12 well well-sm">
                <div class="col-md-8">
                  <%= check_box_tag "acompanhamento_#{i}", "#{acompanhamento.nome}", false, :value => "#{acompanhamento.id}", :title => "#{acompanhamento.descricao}" %>
                  <%= "#{acompanhamento.nome}" %><br>
                <div class='well-xs'><%= "#{acompanhamento.descricao} - R$#{sprintf('%.2f', acompanhamento.valor)} cada" %></div>
                </div>
                <div class="col-md-4">
                  <%= select_tag "quantidade_acompanhamento_#{i}", options_for_select((1.."#{acompanhamento.quantidade}".to_i).map{|s| ["#{s}", s]}), :class => "form-control input-search" %>
                </div>                
                </div>
                <% else %>
                <div class="col-md-12 well well-sm">
                <div class="col-md-8">                
                  <%= check_box_tag "acompanhamento_#{i}", "#{acompanhamento.nome}", true, :value => "#{acompanhamento.id}", :title => "#{acompanhamento.descricao}" %>
                  <%= "#{acompanhamento.nome}" %><br>
                <div class='well-xs'><%= "#{acompanhamento.descricao} - R$#{sprintf('%.2f', acompanhamento.valor)} cada" %></div>
                </div>
                <div class="col-md-4">                
                  <% if @flag_situacao == 1 %>
                    <%= select_tag "quantidade_acompanhamento_#{i}", options_for_select((1.."#{acompanhamento.quantidade}".to_i).map{|s| ["#{s}", s]}, :selected => @pedido.pedidos_acompanhamentos.where(:acompanhamento_id => acompanhamento.id).first.quantidade), :class => "form-control input-search" %>
                  <% else %>
                    <%= select_tag "quantidade_acompanhamento_#{i}", options_for_select((1.."#{acompanhamento.quantidade+@pedido.pedidos_acompanhamentos.find_by_acompanhamento_id(acompanhamento.id).quantidade}".to_i).map{|s| ["#{s}", s]}, :selected => @pedido.pedidos_acompanhamentos.where(:acompanhamento_id => acompanhamento.id).first.quantidade), :class => "form-control input-search" %>
                  <% end %>
                </div>                               
                </div>
                <% end %>
                <%#= select_field_tag "quantidade_#{i}" %>
              <% end %>
        </div>
      </div>
    </div>


    <div class="col-md-4">
        <div class="panel panel-success">
          <div class="panel-heading">
            <h3 class="panel-title">Proteínas</h3>
          </div>
          <div class="panel-body">
              Quantidade sem acréscimo: <%= Pedido::LIMITE_PROTEINAS %><br/><br/>
                <% @proteinas_disponiveis.each_with_index do |proteina,i| %>
                <%# debugger %>
                  <%#= collection_check_boxes :pedido, :proteina_ids, @proteinas_disponiveis, :id, :nome %>
                  <%#= check_box_tag "proteina_#{i}", "#{proteina.nome}", false, :value => "#{proteina.id}" %>
                  <%#= "#{proteina.nome}" %>
                  <% if !@pedido.proteinas.include? proteina %>
                  <%# if @pedido.pedidos_proteinas["#{i}".to_i].nil? %>
                  <div class="col-md-12 well well-sm">
                  <div class="col-md-8">
                    <%= check_box_tag "proteina_#{i}", "#{proteina.nome}", false, :value => "#{proteina.id}", :title => "#{proteina.descricao}" %>
                    <%= "#{proteina.nome}" %><br>
                  <div class='well-xs'><%= "#{proteina.descricao} - R$#{sprintf('%.2f', proteina.valor)} cada" %></div>
                  </div>
                  <div class="col-md-4">
                    <%= select_tag "quantidade_proteina_#{i}", options_for_select((1.."#{proteina.quantidade}".to_i).map{|s| ["#{s}", s]}), :class => "form-control input-search" %>
                  </div>
                  </div>
                  <% else %>
                  <div class="col-md-12 well well-sm">
                  <div class="col-md-8">
                  <%= check_box_tag "proteina_#{i}", "#{proteina.nome}", true, :value => "#{proteina.id}",:title => "#{proteina.descricao}" %>
                  <%= "#{proteina.nome}" %><br>
                  <div class='well-xs'><%= "#{proteina.descricao} - R$#{sprintf('%.2f', proteina.valor)} cada" %></div>      
                  </div>
                  <div class="col-md-4">
                  <%# debugger %>
                  <%# Aqui adicionei a quantidade de pedidos que estava no pedido que esta sendo editado para aparecer na disponibilidade na hora de fazer o pedido %>
                  <% if @flag_situacao == 1 %>
                  <%= select_tag "quantidade_proteina_#{i}", options_for_select((1.."#{proteina.quantidade}".to_i).map{|s| ["#{s}", s]}, :selected => @pedido.pedidos_proteinas.where(:proteina_id => proteina.id).first.quantidade), :class => "form-control input-search" %>
                  <% else %>
                  <%= select_tag "quantidade_proteina_#{i}", options_for_select((1.."#{proteina.quantidade+@pedido.pedidos_proteinas.find_by_proteina_id(proteina.id).quantidade}".to_i).map{|s| ["#{s}", s]}, :selected => @pedido.pedidos_proteinas.where(:proteina_id => proteina.id).first.quantidade), :class => "form-control input-search" %>
                  <% end %>
                  </div>
                  </div>
                  <% end %>
                  <%#= select_field_tag "quantidade_#{i}" %>
                <% end %>
            </div>
        </div>
    </div>


    <div class="col-md-4">
        <div class="panel panel-success">
          <div class="panel-heading">
            <h3 class="panel-title">Guarnição</h3>
          </div>
          <div class="panel-body">
              Quantidade sem acréscimo: <%= Pedido::LIMITE_GUARNICOES %>  <br/><br/>
                <% @guarnicoes_disponiveis.each_with_index do |guarnicao,i| %>
                <%# debugger %>
                  <%#= collection_check_boxes :pedido, :proteina_ids, @proteinas_disponiveis, :id, :nome %>
                  <%#= check_box_tag "proteina_#{i}", "#{proteina.nome}", false, :value => "#{proteina.id}" %>
                  <%#= "#{proteina.nome}" %>
                  <% if !@pedido.guarnicoes.include? guarnicao %>
                  <%# if @pedido.pedidos_proteinas["#{i}".to_i].nil? %>
                  <div class="col-md-12 well well-sm">
                  <div class="col-md-8">
                  <%= check_box_tag "guarnicao_#{i}", "#{guarnicao.nome}", false, :value => "#{guarnicao.id}", :title => "#{guarnicao.descricao}" %>
                  <%= "#{guarnicao.nome}" %><br>
                  <div class='well-xs'><%= "#{guarnicao.descricao} - R$#{sprintf('%.2f', guarnicao.valor)} cada" %></div>
                  </div>
                  <div class="col-md-4">
                  <%= select_tag "quantidade_guarnicao_#{i}", options_for_select((1.."#{guarnicao.quantidade}".to_i).map{|s| ["#{s}", s]}), :class => "form-control input-search" %>
                  </div>
                  </div>
                  <% else %>
                  <div class="col-md-12 well well-sm">
                  <div class="col-md-8">
                    <%= check_box_tag "guarnicao_#{i}", "#{guarnicao.nome}", true, :value => "#{guarnicao.id}", :title => "#{guarnicao.descricao}"  %>
                    <%= "#{guarnicao.nome}" %><br>
                  <div class='well-xs'><%= "#{guarnicao.descricao} - R$#{sprintf('%.2f', guarnicao.valor)} cada" %></div>      
                  </div>
                  <div class="col-md-4">
                  <% if @flag_situacao == 1 %>
                    <%= select_tag "quantidade_guarnicao_#{i}", options_for_select((1.."#{guarnicao.quantidade}".to_i).map{|s| ["#{s}", s]}, :selected => @pedido.pedidos_guarnicoes.where(:guarnicao_id => guarnicao.id).first.quantidade), :class => "form-control input-search" %>
                  <% else %>
                    <%= select_tag "quantidade_guarnicao_#{i}", options_for_select((1.."#{guarnicao.quantidade+@pedido.pedidos_guarnicoes.find_by_guarnicao_id(guarnicao.id).quantidade}".to_i).map{|s| ["#{s}", s]}, :selected => @pedido.pedidos_guarnicoes.where(:guarnicao_id => guarnicao.id).first.quantidade), :class => "form-control input-search" %>                  
                  <% end %>
                  
                  </div>
                  </div>
                  <% end %>
                  <%#= select_field_tag "quantidade_#{i}" %>
                <% end %>
            </div>
          </div>
      </div> 
  </div>

<br><br><br><br><br>

  <div class="row">
      <div class="col-md-4">
          <div class="panel panel-success">
            <div class="panel-heading">
              <h3 class="panel-title">Saladas</h3>
            </div>
          <div class="panel-body">
                  Quantidade sem acréscimo: <%= Pedido::LIMITE_SALADAS %>  <br/><br/>
                  <% @saladas_disponiveis.each_with_index do |salada,i| %>
                  <%# debugger %>
                    <%#= collection_check_boxes :pedido, :proteina_ids, @proteinas_disponiveis, :id, :nome %>
                    <%#= check_box_tag "proteina_#{i}", "#{proteina.nome}", false, :value => "#{proteina.id}" %>
                    <%#= "#{proteina.nome}" %>
                    <% if !@pedido.saladas.include? salada %>
                    <%# if @pedido.pedidos_proteinas["#{i}".to_i].nil? %>
                    <div class="col-md-12 well well-sm">
                    <div class="col-md-8">
                    <%= check_box_tag "salada_#{i}", "#{salada.nome}", false, :value => "#{salada.id}", :title => "#{salada.descricao}"  %>
                    <%= "#{salada.nome}" %><br>
                    <div class='well-xs'><%= "#{salada.descricao} - R$#{sprintf('%.2f', salada.valor)} cada" %></div>
                    </div>
                    <div class="col-md-4">
                    <%= select_tag "quantidade_salada_#{i}", options_for_select((1.."#{salada.quantidade}".to_i).map{|s| ["#{s}", s]}), :class => "form-control input-search" %>
                    </div>
                    </div>
                    <% else %>
                    <div class="col-md-12 well well-sm">
                    <div class="col-md-8">
                    <%= check_box_tag "salada_#{i}", "#{salada.nome}", true, :value => "#{salada.id}", :title => "#{salada.descricao}" %>
                    <%= "#{salada.nome}" %><br>
                    <div class='well-xs'><%= "#{salada.descricao} - R$#{sprintf('%.2f', salada.valor)} cada" %></div>      
                    </div>
                    <div class="col-md-4">
                  <% if @flag_situacao == 1 %>
                    <%= select_tag "quantidade_salada_#{i}", options_for_select((1.."#{salada.quantidade}".to_i).map{|s| ["#{s}", s]}, :selected => @pedido.pedidos_saladas.where(:salada_id => salada.id).first.quantidade), :class => "form-control input-search" %>
                  <% else %>
                    <%= select_tag "quantidade_salada_#{i}", options_for_select((1.."#{salada.quantidade+@pedido.pedidos_saladas.find_by_salada_id(salada.id).quantidade}".to_i).map{|s| ["#{s}", s]}, :selected => @pedido.pedidos_saladas.where(:salada_id => salada.id).first.quantidade), :class => "form-control input-search" %>                  
                  <% end %>                    
                    </div>
                    </div>
                    <% end %>
                    <%#= select_field_tag "quantidade_#{i}" %>
                  <% end %>
              </div>
          </div>

      </div>

      <div class="col-md-4">
          <div class="panel panel-success">
              <div class="panel-heading">
                <h3 class="panel-title">Bebidas</h3>
              </div>
              <div class="panel-body">
                Quantidade sem acréscimo: <%= Pedido::LIMITE_BEBIDAS %>  <br/><br/>
                  <% @bebidas_disponiveis.each_with_index do |bebida,i| %>
                  <%# debugger %>
                    <%#= collection_check_boxes :pedido, :proteina_ids, @proteinas_disponiveis, :id, :nome %>
                    <%#= check_box_tag "proteina_#{i}", "#{proteina.nome}", false, :value => "#{proteina.id}" %>
                    <%#= "#{proteina.nome}" %>
                    <% if !@pedido.bebidas.include? bebida %>
                    <%# if @pedido.pedidos_proteinas["#{i}".to_i].nil? %>
                    <div class="col-md-12 well well-sm">                    
                    <div class="col-md-8">
                    <%= check_box_tag "bebida_#{i}", "#{bebida.nome}", false, :value => "#{bebida.id}" %>
                    <%= "#{bebida.nome}" %><br>
                    <div class='well-xs'><%= "#{bebida.tipo} - R$#{sprintf('%.2f', bebida.valor)} cada" %></div>                      
                    </div>
                    <div class="col-md-4">
                    <%= select_tag "quantidade_bebida_#{i}", options_for_select((1.."#{bebida.quantidade}".to_i).map{|s| ["#{s}", s]}), :class => "form-control input-search" %>
                    </div>
                    </div>
                    <% else %>
                    <div class="col-md-12 well well-sm">                    
                    <div class="col-md-8">
                    <%= check_box_tag "bebida_#{i}", "#{bebida.nome}", true, :value => "#{bebida.id}" %>
                    <%= "#{bebida.nome}" %><br>
                    <div class='well-xs'><%= "#{bebida.tipo} - R$#{sprintf('%.2f', bebida.valor)} cada" %></div>
                    </div>
                    <div class="col-md-4">
                    <% if @flag_situacao == 1 %>
                      <%= select_tag "quantidade_bebida_#{i}", options_for_select((1.."#{bebida.quantidade}".to_i).map{|s| ["#{s}", s]}, :selected => @pedido.pedidos_bebidas.where(:bebida_id => bebida.id).first.quantidade), :class => "form-control input-search" %>
                    <% else %>
                      <%= select_tag "quantidade_bebida_#{i}", options_for_select((1.."#{bebida.quantidade+@pedido.pedidos_bebidas.find_by_bebida_id(bebida.id).quantidade}".to_i).map{|s| ["#{s}", s]}, :selected => @pedido.pedidos_bebidas.where(:bebida_id => bebida.id).first.quantidade), :class => "form-control input-search" %>
                    <% end %>                                        
                    </div>
                    </div>
                    <% end %>
                    <%#= select_field_tag "quantidade_#{i}" %>
                  <% end %>
              </div>
            </div>

      </div>
      <div class="col-md-4">
          <div class="panel panel-success">
              <div class="panel-heading">
                <h3 class="panel-title">Sobremesas</h3>
              </div>
              <div class="panel-body">
                  Quantidade sem acréscimo: <%= Pedido::LIMITE_SOBREMESAS %>  <br/><br/>
                    <% @sobremesas_disponiveis.each_with_index do |sobremesa,i| %>
                    <%# debugger %>
                      <%#= collection_check_boxes :pedido, :proteina_ids, @proteinas_disponiveis, :id, :nome %>
                      <%#= check_box_tag "proteina_#{i}", "#{proteina.nome}", false, :value => "#{proteina.id}" %>
                      <%#= "#{proteina.nome}" %>
                      <% if !@pedido.sobremesas.include? sobremesa %>
                      <%# if @pedido.pedidos_proteinas["#{i}".to_i].nil? %>
                      <div class="col-md-12 well well-sm">
                      <div class="col-md-8">
                      <%= check_box_tag "sobremesa_#{i}", "#{sobremesa.nome}", false, :value => "#{sobremesa.id}", :title => "#{sobremesa.descricao}" %>
                      <%= "#{sobremesa.nome}" %><br>
                      <div class="well-xs"><%= "#{sobremesa.descricao} - R$#{sprintf('%.2f', sobremesa.valor)} cada" %></div>
                      </div>
                      <div class="col-md-4">
                      <%= select_tag "quantidade_sobremesa_#{i}", options_for_select((1.."#{sobremesa.quantidade}".to_i).map{|s| ["#{s}", s]}), :class => "form-control input-search" %>
                      </div>
                      </div>
                      <% else %>
                      <div class="col-md-12 well well-sm">                      
                      <div class="col-md-8">
                      <%= check_box_tag "sobremesa_#{i}", "#{sobremesa.nome}", true, :value => "#{sobremesa.id}", :title => "#{sobremesa.descricao}" %>
                      <%= "#{sobremesa.nome}" %><br>
                      <div class="well-xs"><%= "#{sobremesa.descricao} - R$#{sprintf('%.2f', sobremesa.valor)} cada" %></div>
                      </div>
                      <div class="col-md-4">
                    <% if @flag_situacao == 1 %>
                      <%= select_tag "quantidade_sobremesa_#{i}", options_for_select((1.."#{sobremesa.quantidade}".to_i).map{|s| ["#{s}", s]}, :selected => @pedido.pedidos_sobremesas.where(:sobremesa_id => sobremesa.id).first.quantidade), :class => "form-control input-search" %>
                    <% else %>
                      <%= select_tag "quantidade_sobremesa_#{i}", options_for_select((1.."#{sobremesa.quantidade+@pedido.pedidos_sobremesas.find_by_sobremesa_id(sobremesa.id).quantidade}".to_i).map{|s| ["#{s}", s]}, :selected => @pedido.pedidos_sobremesas.where(:sobremesa_id => sobremesa.id).first.quantidade), :class => "form-control input-search" %>                    
                    <% end %>                      
                      </div>
                      </div>
                      <% end %>
                      <%#= select_field_tag "quantidade_#{i}" %>
                    <% end %>
                </div>
            </div>
      </div>
  </div>

<br><br>

<div class="row">
  <div class="panel-body">
    <div class="panel panel-success">
      <div class="panel-heading">
        <h3 class="panel-title">Observação</h3>
      </div>      
      <%= f.text_area :observacao, :class => 'form-control', :placeholder => "Escreva aqui a observação a respeito do seu pedido" %>
  </div>
</div>
</div>


<br><br>
<div class="row">
  <%= f.hidden_field :valor, :value => 0 %>
      <% if (current_usuario.admin? && params[:action] != "edit") %>
        <%= f.hidden_field :cliente_id, :value => params[:cliente_id].to_i %>
      <% elsif (current_usuario.admin? && params[:action] == "edit") %>
        <%= f.hidden_field :cliente_id, :value => Pedido.find_by_id(params[:id].to_i).cliente.id %>
      <% else %>
        <%= f.hidden_field :cliente_id, :value => current_usuario.cliente.id %>
      <% end %>

        <div class="col-md-6 text-right">          
          <%= f.submit nil, :class => 'btn btn-primary' %>
        </div>
        <div class="col-md-6">
          <%= link_to "Cancelar", pedidos_path, :class => 'btn btn-default' %>
        </div>
  <% end %>
</div>

