<%= nested_form_for @pedido, :html => { :class => 'validate' } do |f| %>
  <table>
 <% if can? :manage, Cardapio %>
  <p>
    <%= f.label :cliente_id, :class => 'control-label' %>
    <%= f.collection_select :cliente_id, Cliente.all, :id, :nome, :prompt => "Selecione", :class => 'text_field' %>
    </p>
  <% end %>
  <p>
  <fieldset class="form-clientes pess">
  <legend>Acompanhamentos</legend>
    <%# @entradas_disponiveis.each do |entrada| %>
    <%= collection_check_boxes(:pedido, :acompanhamento_ids, @acompanhamentos_disponiveis, :id, :nome) %>
      <%#= check_box_tag 'pedido[entrada][]', "#{entrada.nome}", @pedido.entradas.includefalse, :value => "#{entrada.nome}" %>
      <%#= label :entrada, "#{entrada.nome}", :class =>"radio inline" %>
    <% #end %>
</fieldset>
    </p>
  <p>

  <fieldset class="form-clientes pess">
  <legend>Proteínas</legend>
    <% @cardapios_disponiveis.each_with_index do |cardapio,i| %>
    <%# debugger %>
      <%#= collection_check_boxes :pedido, :cardapio_ids, @cardapios_disponiveis, :id, :nome %>
      <%= check_box_tag "cardapio_#{i}", "#{cardapio.nome}", false, :value => "#{cardapio.id}" %>
      <%= "#{cardapio.nome}" %>
      <%= select_tag "quantidade_#{i}", options_for_select((1.."#{cardapio.quantidade}".to_i).map{|s| ["#{s}", s]}), :prompt => "Selecione" %>
      <%#= select_field_tag "quantidade_#{i}" %>
</fieldset>
    <% end %>
  </p>
  <p>

      <div class="control-group">
      <%= f.fields_for :item_de_pedidos do |item| %>
      <div class="controls">
      <%= item.collection_select :produto_id, Produto.bebidas, :id, :exibicao_select, :prompt => "Nenhuma", :class => 'text_field' %>
      <%= item.select :quantidade, options_for_select([['0', 0], ['1', 1], ['2', 2], ['3', 3], ['4', 4], ['5', 5], ['6', 6], ['7', 7], ['8', 8], ['9', 9], ['10',10]], :selected => item.object.quantidade), :prompt => 0, :class => 'select_field' %>
      <%= item.link_to_remove "Remover este item" %>
    <% end %>
<p><%= f.link_to_add "Adicionar Item", :item_de_pedidos %></p>
</div>
</div>
</p>
  <p>

    <%= f.label :valor, :class => 'control-label' %>
      <%= f.text_field :valor, :class => 'text_field' %>
</p>
  <p>

    <%= f.label :forma_de_pagamento, :class => 'control-label' %>
      <%= f.text_field :forma_de_pagamento, :class => 'text_field' %>
  </p>
  <p>
<br>
    <%= f.submit nil, :class => 'button blue-cadastrar-top' %>
    <%= link_to "Cancelar", pedidos_path, :class => 'button gray-voltar' %>
</p>
</table>

<% end %>
