<%= nested_form_for @pedido, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :cliente_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.collection_select :cliente_id, Cliente.all, :id, :nome, :prompt => "Selecione", :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :descricao, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :descricao, :class => 'text_field' %>
    </div>
  </div>

  <div class="control-group">
  <%= f.label :produto, :class => 'control-label' %> 
   <div class="controls">
    <%= f.fields_for :item_de_pedidos do |item| %>
      <%= item.collection_select :produto_id, Produto.all, :id, :nome, :default => "Selecione", :class => 'text_field' %>
      <%= item.link_to_remove "Remover este item" %>
    <% end %>
<p><%= f.link_to_add "Adicionar Item", :item_de_pedidos %></p>
    </div>
  </div>


  <div class="control-group">
    <%= f.label :valor, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :valor, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :forma_de_pagamento, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :forma_de_pagamento, :class => 'text_field' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                pedidos_path, :class => 'btn' %>
  </div>
<% end %>
