<%- model_class = Pedido -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %><br/>
  <% if !current_usuario.admin? %>
    <% if Time.now.hour > 6 && Time.now.hour < 10 && !current_usuario.cliente.bloqueado? %>
    <%= link_to "Novo Pedido",
              new_pedido_path,
              :class => 'button blue-cadastrar-top' %></h1>
              <% else %> 
              </h1>
              <h2><font color="red">Horário para realização de pedidos finalizado</font></h2>
              <% end %>
  <% end %>              
</h1>

</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:cliente_id) %></th>
      <th><%= model_class.human_attribute_name(:valor) %></th>
      <th>Data</th>
      <th><%= model_class.human_attribute_name(:situação) %></th>      
      <th><%=t '.ações', :default => t("helpers.ações") %></th>
    </tr>
  </thead>
  <tbody>
    <% @pedidos.each do |pedido| %>
      <tr>
        <td><%= pedido.cliente.nome %></td>
        <td><%= pedido.valor %></td>
        <td><%= pedido.created_at.strftime("%d/%m/%Y") %></td>
        <td><%= pedido.situacao %></td>
        <td>
          <%= link_to edit_pedido_path(pedido), html_options = { :class => 'button blue', :title => "Editar Dados"} do %>
                      <span class="editar"></span>
                      <% end %>        
          <%= link_to pedido_path(pedido), html_options = { :class => 'button green', :title => "Ver Dados Completos"} do %>
                      <span class="listar"></span>          
          <% end %>
            <%= link_to cancelar_pedido_path(pedido), html_options = {:class => "button red", :title => "Cancelar Pedido", :id => "cancelar_#{pedido.id}"} do %>
                      <span class="bloquear"></span>
            <% end %>
            <%= link_to confirmar_pedido_path(pedido), html_options = {:class => "button green", :title => "Confirmar Pedido", :id => "confirmar_#{pedido.id}"} do %>
                      <span class="desbloquear"></span>
            <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate @pedidos, renderer: BootstrapPagination::Rails %>
<% if !current_usuario.admin? %>
  <% if Time.now.hour > 6 && Time.now.hour < 10 && !current_usuario.cliente.bloqueado?%>
    <%= link_to "Novo Pedido",
              new_pedido_path,
              :class => 'button blue-cadastrar-bottom' %>
  <% end %> 
<% end %>
