<%- model_class = Pedido -%>
<div class="page-header">

  <% if !current_usuario.admin? %>
  <h2><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %><br/></h2>  
  <% if (DateTime.now > DateTime.now.change(hour: Pedido::HORARIO_LIMITE_MIN) && DateTime.now < DateTime.now.change(hour: Pedido::HORARIO_LIMITE_MAX)) && !current_usuario.cliente.bloqueado?%>
    <%# if Time.now.hour > 6 && Time.now.hour < 10 && !current_usuario.cliente.bloqueado? %>
    <%= link_to "Novo Pedido",
              new_pedido_path,
              :class => 'btn btn-primary' %>
              <% else %> 
              <h3><font color="red">Horário para realização de pedidos finalizado</font></h3>
              <% end %>
  <% else %> 
    <h2><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %> de hoje da <%= @nome_da_empresa %><br/></h2>
            <h3>Quantidade de pedidos de hoje para <%= @nome_da_empresa %>: <%= @quantidade_de_pedidos %></h3>
<% end %>             
</div>
<% if current_usuario.admin? || current_usuario.gerente? %>
<%= form_tag(pedidos_path, :method => "get", :class => "validate", id: "search-formulario") do %>
   <td>
      <%= select_tag :empresa, options_from_collection_for_select(Empresa.all, "id", "nome"), :prompt => "Todas as Empresas", :class => "form-control input-search" %><br>
      <%= select_tag :situacao, options_for_select(["Confirmado", "Cancelado", "Em processamento"]), :prompt => "Todas as Situações", :class => "form-control input-search" %><br>
      <!-- In order to have the "search" icon int the button, we need to use plain HTML instead 
           of using a Rails form helper -->
   <%= submit_tag "Buscar", :name => nil, :class => 'button gray-voltar' %></td>

    <br><br><br><br>
  <% end %>
<% end %>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:cliente_id) %></th>
      <th><%= model_class.human_attribute_name(:valor) %></th>
      <th>Data</th>
      <th><%= model_class.human_attribute_name(:situação) %></th>      
      <th><%=t '.ações', :default => t("helpers.ações") %></th>
    </tr>
  </thead>
  <tbody>
    <% @pedidos.each do |pedido| %>
      <tr>
        <td><%= pedido.cliente.nome %></td>
        <td><%= pedido.valor %></td>
        <td><%= pedido.created_at.strftime("%d/%m/%Y") %></td>
        <td><%= pedido.situacao %></td>
        <td>
          <%= link_to edit_pedido_path(pedido), html_options = { :class => 'btn btn-primary btn-sm', :title => "Editar Dados"} do %>
                      <span class="glyphicon glyphicon-pencil"></span>
                      <% end %>        
          <%= link_to pedido_path(pedido), html_options = { :class => 'btn btn-info btn-sm', :title => "Ver Dados Completos"} do %>
                      <span class="glyphicon glyphicon-list-alt"></span>          
          <% end %>
          <% if (DateTime.now < pedido.created_at.change(hour: Pedido::HORARIO_LIMITE_MAX)) || (current_usuario.admin? || current_usuario.gerente?) %>
            <%= link_to cancelar_pedido_path(pedido), html_options = {:class => "btn btn-danger btn-sm", :title => "Cancelar Pedido", :id => "cancelar_#{pedido.id}"} do %>
                      <span class="glyphicon glyphicon-remove"></span>
            <% end %>
            <% end %>
            <%= link_to confirmar_pedido_path(pedido), html_options = {:class => "btn btn-success btn-sm", :title => "Confirmar Pedido", :id => "confirmar_#{pedido.id}"} do %>
                      <span class="glyphicon glyphicon-ok"></span>
            <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<% if !current_usuario.admin? %>
  <% if (DateTime.now > DateTime.now.change(hour: Pedido::HORARIO_LIMITE_MIN) && DateTime.now < DateTime.now.change(hour: Pedido::HORARIO_LIMITE_MAX)) && !current_usuario.cliente.bloqueado?%>
    <%= link_to "Novo Pedido",
              new_pedido_path,
              :class => 'btn btn-primary' %>
  <% end %> 
<% end %>
