<%- model_class = Pedido -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong>Acompanhamentos</strong></dt>
  <% @pedido.pedidos_acompanhamentos.each do |pedido_acompanhamento| %>
  <dd><%= pedido_acompanhamento.quantidade %> <%= pedido_acompanhamento.acompanhamento.nome %></dd>
  <% end %>
  <dt><strong>Proteinas</strong></dt>
  <% @pedido.pedidos_proteinas.each do |pedido_proteina| %>
  <dd> <%= pedido_proteina.quantidade %> <%= pedido_proteina.proteina.nome %></dd>
  <% end %>
  <dt><strong>Guarnições</strong></dt>
  <% @pedido.pedidos_guarnicoes.each do |pedido_guarnicao| %>
  <dd> <%= pedido_guarnicao.quantidade %> <%= pedido_guarnicao.guarnicao.nome %></dd>
  <% end %>
  <dt><strong>Saladas</strong></dt>
  <% @pedido.pedidos_saladas.each do |pedido_salada| %>
  <dd> <%= pedido_salada.quantidade %> <%= pedido_salada.salada.nome %></dd>
  <% end %>
  <dt><strong><%= model_class.human_attribute_name(:descricao) %>:</strong></dt>
  <dd><%= @pedido.descricao %></dd>
  <dt><strong><%= model_class.human_attribute_name(:valor) %>:</strong></dt>
  <dd><%= @pedido.valor %></dd>
  <dt><strong><%= model_class.human_attribute_name(:cliente_id) %>:</strong></dt>
  <dd><%= @pedido.cliente.nome %></dd>
  <dt><strong><%= model_class.human_attribute_name(:observacoes) %>:</strong></dt>
  <dd><%= @pedido.qtd_extra(@pedido.pedidos_proteinas,1) %> proteínas extra</dd>
  <dd><%= @pedido.qtd_extra(@pedido.pedidos_guarnicoes,2) %> guarnições extra</dd>
  <dd><%= @pedido.qtd_extra(@pedido.pedidos_saladas,1) %> saladas extra</dd>
</dl>

<div class="form-actions">
  <%= link_to t('.voltar', :default => t("helpers.links.voltar")),
              pedidos_path, :class => 'btn'  %>
  <%= link_to t('.editar', :default => t("helpers.links.editar")),
              edit_pedido_path(@pedido), :class => 'btn-primary' %>
  <%= link_to t('.excluir', :default => t("helpers.links.exlcuir")),
              pedido_path(@pedido),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Deseja excluir este cliente?')) },
              :class => 'btn btn-danger' %>
</div>
