<%- model_class = Pedido -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:cliente_id) %>:</strong></dt>
  <dd><font size="5pt"><%= @pedido.cliente.nome %> - <%= @pedido.cliente.empresa.nome %> - <%= @pedido.cliente.setor %></font></dd>
  <% if !@pedido.acompanhamentos.empty? %>
    <dt><strong>Acompanhamentos</strong></dt>
    <% @pedido.pedidos_acompanhamentos.each do |pedido_acompanhamento| %>
    <dd><%= pedido_acompanhamento.quantidade %> <%= pedido_acompanhamento.acompanhamento.nome %></dd>
    <% end %>
  <% end %>
  <% if !@pedido.proteinas.empty? %>  
    <dt><strong>Proteinas</strong></dt>
    <% @pedido.pedidos_proteinas.each do |pedido_proteina| %>
    <dd> <%= pedido_proteina.quantidade %> <%= pedido_proteina.proteina.nome %></dd>
    <% end %>
  <% end %>
  <% if !@pedido.guarnicoes.empty? %>  
    <dt><strong>Guarnições</strong></dt>
    <% @pedido.pedidos_guarnicoes.each do |pedido_guarnicao| %>
    <dd> <%= pedido_guarnicao.quantidade %> <%= pedido_guarnicao.guarnicao.nome %></dd>
    <% end %>
  <% end %>
  <% if !@pedido.saladas.empty? %>  
    <dt><strong>Saladas</strong></dt>
    <% @pedido.pedidos_saladas.each do |pedido_salada| %>
    <dd> <%= pedido_salada.quantidade %> <%= pedido_salada.salada.nome %></dd>
    <% end %>
  <% end %> 
  <% if !@pedido.bebidas.empty? %>  
    <dt><strong>Bebidas</strong></dt>
    <% @pedido.pedidos_bebidas.each do |pedido_bebida| %>
    <dd> <%= pedido_bebida.quantidade %> <%= pedido_bebida.bebida.nome %></dd>
    <% end %>
  <% end %>
  <% if !@pedido.sobremesas.empty? %>  
    <dt><strong>Sobremesas</strong></dt>
    <% @pedido.pedidos_sobremesas.each do |pedido_sobremesa| %>
    <dd> <%= pedido_sobremesa.quantidade %> <%= pedido_sobremesa.sobremesa.nome %></dd>
    <% end %>
  <% end %>
  <% if !@pedido.observacao.empty? %>
  <dt><strong>Observação:</strong></dt>
    <dd><%= @pedido.observacao %></dd>
  <% end %>
  <dt><strong>Valor:</strong></dt>
  <dd><font size="5pt">R$ <%= @pedido.valor %></font></dd>
  <dt><strong>Observações:</strong></dt>
  <% if @pedido.qtd_extra(@pedido.pedidos_acompanhamentos,Pedido::LIMITE_ACOMPANHAMENTOS) != 0 %>
    <dd><%= @pedido.qtd_extra(@pedido.pedidos_acompanhamentos,Pedido::LIMITE_ACOMPANHAMENTOS) %> acompanhamento(s) extra</dd>
  <% end %>
  <% if @pedido.qtd_extra(@pedido.pedidos_proteinas,Pedido::LIMITE_PROTEINAS) != 0 %>
    <dd><%= @pedido.qtd_extra(@pedido.pedidos_proteinas,Pedido::LIMITE_PROTEINAS) %> proteína(s) extra</dd>
  <% end %>
  <% if @pedido.qtd_extra(@pedido.pedidos_guarnicoes,Pedido::LIMITE_GUARNICOES) != 0 %>
    <dd><%= @pedido.qtd_extra(@pedido.pedidos_guarnicoes,Pedido::LIMITE_GUARNICOES) %> guarnição(ões) extra</dd>
  <% end %>
  <% if @pedido.qtd_extra(@pedido.pedidos_saladas,Pedido::LIMITE_SALADAS) != 0 %>
    <dd><%= @pedido.qtd_extra(@pedido.pedidos_saladas,Pedido::LIMITE_SALADAS) %> salada(s) extra</dd>
  <% end %>
  <% if @pedido.qtd_extra(@pedido.pedidos_bebidas,Pedido::LIMITE_BEBIDAS) != 0 %>
    <dd><%= @pedido.qtd_extra(@pedido.pedidos_bebidas,Pedido::LIMITE_BEBIDAS) %> bebida(s) extra</dd>
  <% end %>
  <% if @pedido.qtd_extra(@pedido.pedidos_sobremesas,Pedido::LIMITE_SOBREMESAS) != 0 %>
    <dd><%= @pedido.qtd_extra(@pedido.pedidos_sobremesas,Pedido::LIMITE_SOBREMESAS) %> sobremesa(s) extra</dd>
  <% end %>
</dl>

<div class="form-actions">
  <%= link_to "Corrigir Pedido", edit_pedido_path(@pedido), html_options = { :class => 'button blue-cadastrar-top', :title => "Corrigir Pedido"} %>
  <%= link_to "Cancelar Pedido", cancelar_pedido_path(@pedido), html_options = {:class => "button purple", :title => "Cancelar Pedido", :id => "cancelar_#{@pedido.id}"} %>
  <%= link_to "Confirmar Pedido", confirmar_pedido_path(@pedido), html_options = {:class => "button green2", :title => "Confirmar Pedido", :id => "confirmar_#{@pedido.id}"} %>
</div>
