<%= form_for @salada, :html => { :class => 'form-horizontal' } do |f| %>
  <% if @salada.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@salada.errors.count, "error") %> prohibited this arroz from being saved:</h2>

      <ul>
      <% @salada.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :nome, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :nome, :class => 'text_field' %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :disponibilidade, :class => 'control-label' %>
    <div class="controls">
      <%= f.check_box :disponibilidade, :class => 'text_field' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancelar', :default => t("helpers.links.cancelar")),
                saladas_path, :class => 'btn' %>
  </div>
<% end %>