<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @entrada.nome %>
</p>

<p>
  <strong>Descricao:</strong>
  <%= @entrada.descricao %>
</p>

<p>
  <strong>Disponibilidade:</strong>
  <%= @entrada.disponibilidade %>
</p>

<%= link_to 'Edit', edit_entrada_path(@entrada) %> |
<%= link_to 'Back', entradas_path %>
