<p id="notice"><%= notice %></p>

<p>
  <strong>Produto:</strong>
  <%= @transacao.produto_id %>
</p>

<p>
  <strong>Valor:</strong>
  <%= @transacao.valor %>
</p>

<p>
  <strong>Quantidade:</strong>
  <%= @transacao.quantidade %>
</p>

<p>
  <strong>Tipo:</strong>
  <%= @transacao.tipo %>
</p>

<%= link_to 'Edit', edit_transacao_path(@transacao) %> |
<%= link_to 'Back', transacoes_path %>
