<%= form_for @produto, :html => { :class => 'validate' } do |f| %>

  <% @produto.errors.full_messages.each do |msg| %>
    <li><%= msg %></li><br/>
  <% end %>

<table>
  <td> 
    <p>
    <%= f.label :nome %>
    <%= f.text_field :nome, placeholder: "Campo obrigatório", :class => 'required' %>
    <span class="validate">Campo requerido</span>
  </p>
  <p>
    <%= f.label :valor_unitario %>
    <%= f.text_field :valor_unitario, :class => 'required numeric' %>
    <span class="validate">Campo requerido</span>
  </p>
  <p>
   <%= f.label :categoria %>
   <%= f.select :categoria, ["Bebida", "Carne", "Mantimento", "Tempero", "Sobremesa"], {:prompt => "Selecione"} ,{ :class => 'required' } %>
  <span class="validate">Selecione um item</span>
  
  </p>
  <p>
    <%= f.label :tipo %>
    <%= f.select :tipo, ["Lata", "Pet 600ml", "Copo", "Garrafa","Sobremesa"], {:prompt => "Selecione"} , { :class => 'required' } %>
    <span class="validate">Selecione um item</span>
   </p>
  <p>
    <%= f.label :quantidade %>
    <%= f.text_field :quantidade, :class => 'required numeric' %>
    <span class="validate">Campo requerido</span>
   </p>
  <p>
  <p>
    <%= f.label :limite_minimo %>
    <%= f.text_field :limite_minimo, :class => 'required numeric' %>
    <span class="validate">Campo requerido</span>
</p><br>
<p>
    <%= f.submit nil, :class => 'button blue-cadastrar-top' %>
    <%= link_to "Cancelar", produtos_path, :class => 'button gray-voltar' %>
</p>
</td>
  </table>
<% end %>
