<%= form_for @produto, :html => { :class => 'validate' } do |f| %>

  <% @produto.errors.full_messages.each do |msg| %>
    <li><%= msg %></li><br/>
  <% end %>

<table>
  <td> 
    <p>
    <%= f.label :nome %>
    <%= f.text_field :nome, placeholder: "Campo obrigatório", :class => 'required' %>
    <span class="validate">Campo requerido</span>
  </p>
  <p>
   <%= f.label :categoria %>
   <%= f.collection_select :produto_categoria_id, ProdutoCategoria.all, :id, :nome, {:prompt => "Selecione"} , { :class => 'required' } %>
  <span class="validate">Selecione um item</span>
  
  </p>
  <p>
   <%= f.label :tipo %>
   <%= f.collection_select :produto_tipo_id, ProdutoTipo.all, :id, :nome, {:prompt => "Selecione"} , { :class => 'required' } %>
  <span class="validate">Selecione um item</span>
  
  </p>
  <p>
    <%= f.label :quantidade %>
    <%= f.text_field :quantidade, :class => 'required numeric' %>
    <span class="validate">Campo requerido</span>
   </p>
  <p>
  <p>
    <%= f.label :limite_minimo %>
    <%= f.text_field :limite_minimo, :class => 'required numeric' %>
    <span class="validate">Campo requerido</span>
</p><br>
<p>
    <%= f.submit nil, :class => 'button blue-cadastrar-top' %>
    <%= link_to "Cancelar", produtos_path, :class => 'button gray-voltar' %>
</p>
</td>
  </table>
<% end %>
