<%- model_class = Produto -%>
  <h2><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h2>
  <br>
  <div class="row">
        <div class="col-md-6 "> 
        <%= link_to "Novo Produto", new_produto_path, :class => 'btn btn-success' %>                  
        </div>        
</div>
<br>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:nome) %></th>
      <th><%= model_class.human_attribute_name(:tipo) %></th>
      <th>Qtd</th>
      <th>Limite Min</th>
      <th width="214px"><center><%=t '.ações', :default => t("helpers.ações") %><center></th>
    </tr>
  </thead>
  <tbody>
    <% @produtos.each do |produto| %>
      <tr>
        <td><%= produto.nome %></td>
        <td><%= produto.produto_tipo.nome %></td>
        <td><%= produto.quantidade %></td>
        <td><%= produto.limite_minimo %></td>
        <td class="text-center">
          <%= link_to edit_produto_path(produto), html_options = { :class => 'btn btn-warning btn-sm', :title => "Editar Dados"} do %>
                      <span class="glyphicon glyphicon-pencil"></span>
                      <% end %>
          <%= link_to produto_path(produto), html_options = { :class => 'btn btn-info btn-sm', :title => "Ver Dados Completos"} do %>
                      <span class="glyphicon glyphicon-list-alt"></span>          
          <% end %>
          <%= link_to new_transacao_path(:produto_id => produto.id), :class => 'btn btn-primary btn-sm', :title => 'Adicionar/Subtrair' do %>          
                      <span class="glyphicon glyphicon-transfer"></span>
                      <% end %>
          <%#= link_to atualizar_produto_path(produto), method: :post, :class => 'button blue', :title => 'Adicionar/Subtrair' do %>          
                      <!-- <span class="operacoes"></span> -->
                      <%# end %>
          <%#= link_to produto_path(produto), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Deseja excluir esta produto?')) },
                      :class => 'button red', :title => "Remover" do %>
                      <!-- <span class="remover"></span> -->
                      <%# end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>

<div class="row">
        <div class="col-md-6 text-right "> 
        <%= link_to "Novo Produto", new_produto_path, :class => 'btn btn-success' %>                  
        </div>        
         <div class="col-md-6">
          <%= link_to "Cancelar", home_inicial_path, :class => 'btn btn-default' %>
        </div>
</div>

<%= will_paginate @produtos, renderer: BootstrapPagination::Rails %>