<%- model_class = Produto -%>
<h1 class='titulo'><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
<div class="show1">
<fieldset class='form-clientes'>
  <legend class="legend1">Dados Cadastrais</legend>
  <strong><%= model_class.human_attribute_name(:nome) %>:</strong>
  <%= @produto.nome %><br/>
  <strong><%= model_class.human_attribute_name(:valor_unitario) %>:</strong>
  <%= @produto.valor_unitario %><br/>
  <strong><%= model_class.human_attribute_name(:tipo) %>:</strong>
  <%= @produto.tipo %><br/>
  <strong><%= model_class.human_attribute_name(:quantidade) %>:</strong>
  <%= @produto.quantidade %><br/>
  <strong><%= model_class.human_attribute_name(:limite_minimo) %>:</strong>
  <%= @produto.limite_minimo %>
</fieldset>
</div>
 <center><div class="acoes"> 
<%= link_to produtos_path, :class => 'button gray', :title => "Voltar" do %>
              <span class="voltar"></span> 
              <% end %>
<%= link_to new_produto_path, :class => 'button green', :title => "Novo Produto" do %>
              <span class="adicionar"></span> 
              <% end %>
  <%= link_to edit_produto_path(@produto), :class => 'button blue', :title => "Editar Produto" do %>
                      <span class="editar"></span>          
          <% end %>

  <%= link_to produto_path(@produto), :method => 'delete', :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Deseja excluir esta produto?')) }, :class => 'button red', :title => "Remover Produto" do %>
                        <span class="remover"></span>
                      <% end %>
</div></center>
