<%- model_class = Produto -%>
<h2 class='titulo'><%=t '.title', :default => model_class.model_name.human.titleize %></h2>
<br>
<div class="row">
    <div class="col-md-6">
      <ul class="list-group">
        <li class="list-group-item list-group-item-success"><strong>Dados Cadastrais</strong> 
        </li>
        <li class="list-group-item"><strong>
          <%= model_class.human_attribute_name(:nome) %>:&nbsp;</strong> 
          <%= @produto.nome %>
        </li>
        <li class="list-group-item"><strong>
          <%= model_class.human_attribute_name(:tipo) %>:&nbsp;</strong>
          <%= @produto.produto_tipo.nome %>
        </li>
        <li class="list-group-item"><strong>
          <%= model_class.human_attribute_name(:categoria) %>:&nbsp;</strong>
          <%= @produto.produto_categoria.nome %>
        </li>
        <li class="list-group-item"><strong>
          <%= model_class.human_attribute_name(:quantidade) %>:&nbsp;</strong>
          <%= @produto.quantidade %>
        </li>
        <li class="list-group-item"><strong>
          <%= model_class.human_attribute_name(:limite_minimo) %>:&nbsp;</strong>
          <%= @produto.limite_minimo %>
        </li>
      </ul>
    </div>
</div>
<br>

<h2> Dados de Movimentações</h2> <br><br> 
<table class="table table-striped">
          <thead>
            <tr>
              <th>Tipo</th>
              <th>Quantidade</th>
              <th>Data de Lançamento</th>
            </tr>
          </thead>
          <tbody>
            <% @produto.transacoes.each do |transacao| %>
              <tr>
              <td> <%= transacao.tipo == 1 ? "Entrada" : "Saída" %> </td>
                <td><%= transacao.quantidade %></td>
                <td><%= transacao.created_at.strftime("%d/%m/%Y") %></td>
              </tr>
            <% end %>
          </tbody>
        </table><br>  
<br><br> 


<div class="row">
  <div class="col-md-6 text-center">
        <div class="btn-group">
          <%= link_to produtos_path, :class => 'btn btn-default', :title => "Voltar" do %>
          <span class="glyphicon glyphicon-arrow-left"></span>
          <% end %>
        </div>
        <div class="btn-group">          
          <%= link_to new_transacao_path(:produto_id => @produto.id), :class => 'btn btn-primary', :title => 'Adicionar/Subtrair' do %> 
          <span class="glyphicon glyphicon-transfer"></span>
          <% end %>
        </div>
        <div class="btn-group">          
          <%= link_to new_produto_path, :class => 'btn btn-success', :title => "Novo Produto" do %>
          <span class="glyphicon glyphicon-plus"></span>
          <% end %>
        </div>        
        <div class="btn-group">          
          <%= link_to edit_produto_path, :class => 'btn btn-warning', :title => "Editar" do %>
          <span class="glyphicon glyphicon-pencil"></span>
          <% end %>
        </div>
        <!-- <div class="btn-group"> -->
          <!-- <%#= link_to produto_path(@produto), :method => 'delete', :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Deseja excluir esta produto?')) }, :class => 'btn btn-danger', :title => "Remover Produto" do %>     <span class="glyphicon glyphicon-remove"></span> -->
          <%# end %>
        <!-- </div>  -->
    </div>       
</div>
