<%= form_for @empresa, :html => { :class => 'validate' } do |f| %>
  <table>
  <td>
  <p>
    <%= f.label :nome %>
    <%= f.text_field :nome, :class => 'required' %>
    <span class="validate">Campo requerido</span>
  </p>
  <p>
    <%= f.label :telefone %>
    <%= f.text_field :telefone, :class => 'required' %>
    <span class="validate">Campo requerido</span>
  </p>
  <p> 
    <%= f.label :endereco %>
    <%= f.text_field :endereco, :class => 'required' %>
    <span class="validate">Campo requerido</span>
 </p>
  <p>
   <%= f.label :observacao %>
   <%= f.text_field :observacao, :class => 'required' %>
   <span class="validate">Campo requerido</span>
  </p>
  <p>
<br>
    <%= f.submit nil, :class => 'button blue-cadastrar-top' %>
    <%= link_to "Cancelar", empresas_path, :class => 'button gray-voltar' %>
</p>
</td>
</table>
  
<% end %>
