<h2>Empresas</h2> <br>
<%- model_class = Empresa -%>
<div class="row">
        <div class="col-md-6 "> 
        <%= link_to "Nova Empresa", new_empresa_path, :class => 'btn btn-primary' %>                  
        </div>        
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:nome) %></th>
      <th><%= model_class.human_attribute_name(:telefone) %></th>
      <th><%= model_class.human_attribute_name(:endereco) %></th>
      <th><%= model_class.human_attribute_name(:bloqueada) %></th>
      <th><center><%=t '.ações', :default => t("helpers.ações") %></center></th>
    
    </tr>
  </thead>
  <tbody>
    <% @empresas.each do |empresa| %>
      <% if !empresa.bloqueada? %>
        <tr>
          <td><%= empresa.nome %></td>
          <td><%= empresa.telefone %></td>
          <td><%= empresa.endereco %></td>
          <td><%= empresa.bloqueada? ? "Sim" : "Não" %></td>
          <td width="146px">
            <%= link_to edit_empresa_path(empresa), html_options = { :class => 'btn btn-warning btn-sm', :title => "Editar Dados"} do %>
                                <span class="glyphicon glyphicon-pencil"></span>
                        <% end %>
            <%= link_to empresa_path(empresa), html_options = { :class => 'btn btn-info btn-sm', :title => "Ver Dados Completos"} do %>
                        <span class="glyphicon glyphicon-list-alt"></span>        
            <% end %>
            <% if empresa.bloqueada? %>
              <%= link_to desbloquear_empresa_path(empresa), html_options = {:class => "btn btn-success btn-sm", :title => "Desbloquear", :id => "desbloquear_#{empresa.id}"} do %>
                         <span class="glyphicon glyphicon-ok"></span>
              <% end %>
            <% else %>
              <%= link_to bloquear_empresa_path(empresa), html_options = {:class => "btn btn-danger btn-sm", :title => "Bloquear", :id => "bloquear_#{empresa.id}"} do %>
                        <span class="glyphicon glyphicon-remove"></span>
              <% end %>
            <% end %>
          </td>
        </tr>      
      <% else %>
        <tr class="list-group-font-danger">
          <td><%= empresa.nome %></td>
          <td><%= empresa.telefone %></td>
          <td><%= empresa.endereco %></td>
          <td><%= empresa.bloqueada? ? "Sim" : "Não" %></td>
          <td width="146px">
            <%= link_to edit_empresa_path(empresa), html_options = { :class => 'btn btn-warning btn-sm', :title => "Editar Dados"} do %>
                                <span class="glyphicon glyphicon-pencil"></span>
                        <% end %>
            <%= link_to empresa_path(empresa), html_options = { :class => 'btn btn-info btn-sm', :title => "Ver Dados Completos"} do %>
                        <span class="glyphicon glyphicon-list-alt"></span>        
            <% end %>
            <% if empresa.bloqueada? %>
              <%= link_to desbloquear_empresa_path(empresa), html_options = {:class => "btn btn-success btn-sm", :title => "Desbloquear", :id => "desbloquear_#{empresa.id}"} do %>
                         <span class="glyphicon glyphicon-ok"></span>
              <% end %>
            <% else %>
              <%= link_to bloquear_empresa_path(empresa), html_options = {:class => "btn btn-danger btn-sm", :title => "Bloquear", :id => "bloquear_#{empresa.id}"} do %>
                        <span class="glyphicon glyphicon-remove"></span>
              <% end %>
            <% end %>
          </td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<br>
<%= will_paginate @empresas, renderer: BootstrapPagination::Rails %>

<div class="row">
        <div class="col-md-6 text-right "> 
        <%= link_to "Nova Empresa", new_empresa_path, :class => 'btn btn-primary' %>                  
        </div>        
         <div class="col-md-6">
          <%= link_to "Cancelar", home_inicial_path, :class => 'btn btn-default' %>
        </div>
</div>
