<%- model_class = Empresa -%>
  <h1 class='titulo'><%=t '.title', :default => model_class.model_name.human.titleize %></h1>


<div class="show1">

<fieldset class='form-clientes'>
  <legend class="legend1">Dados Cadastrais</legend>
  <strong><%= model_class.human_attribute_name(:nome) %>:</strong>
  <%= @empresa.nome %><br/>
  <strong><%= model_class.human_attribute_name(:telefone) %>:</strong>
  <%= @empresa.telefone %><br/>
  <strong>Endereço:</strong>
  <%= @empresa.endereco %><br/>
  <strong>Observação:</strong>
  <%= @empresa.observacao %>
</fieldset>
</div>
<center>
<div class="acoes">
  <%= link_to empresas_path, :class => 'button gray' do %>
             <span class="voltar"></span>          
          <% end %>

  <%= link_to edit_empresa_path(@empresa), :class => 'button blue' do %>
                      <span class="editar"></span>          
          <% end %>

          <% if can? :bloquear, Empresa %>          
            <% if @empresa.bloqueada? %>
              <%= link_to desbloquear_empresa_path(@empresa), html_options = {:class => "button green", :title => "Desbloquear", :id => "desbloquear_#{@empresa.id}"} do %>
                        <span class="desbloquear"></span>
              <% end %>
            <% else %>
              <%= link_to bloquear_empresa_path(@empresa), html_options = {:class => "button red", :title => "Bloquear", :id => "bloquear_#{@empresa.id}"} do %>
                        <span class="bloquear"></span>
              <% end %>
            <% end %>
          <% end %>

  <%= link_to new_empresa_path, :class=>'button green' do %>
                <span class="adicionar"></span>          
                <% end %>

</div></center>
