<%- model_class = Sobremesa -%>
<h2 class='titulo'><%=t '.title', :default => model_class.model_name.human.titleize %></h2>
<br>
<div class="row">
    <div class="col-md-6">
      <ul class="list-group">
        <li class="list-group-item list-group-item-success"><strong> Dados Cadastrais</strong> 
        </li>
        <li class="list-group-item"><strong>
          <%= model_class.human_attribute_name(:nome) %>:&nbsp;</strong> 
          <%= @sobremesa.nome %>
        </li>
        <li class="list-group-item"><strong>
          <%= model_class.human_attribute_name(:quantidade) %>:&nbsp;</strong>
          <%= @sobremesa.quantidade %>
        </li>
        <li class="list-group-item"><strong>
          <%= model_class.human_attribute_name(:valor) %>:&nbsp;</strong>
          <%= @sobremesa.valor %>
        </li>
        <li class="list-group-item"><strong>
          <%= model_class.human_attribute_name(:descricao) %>:&nbsp;</strong>
          <%= @sobremesa.descricao %>
        </li>
        <li class="list-group-item"><strong>
          <%= model_class.human_attribute_name(:disponibilidade) %>:&nbsp;</strong>
          <% if @sobremesa.disponibilidade? %> Ativado <% else %> Desativado <% end %>
        </li>
      </ul>
    </div>
</div>
<br>
<div class="row">
  <div class="col-md-6 text-center">
        <div class="btn-group">
          <%= link_to sobremesas_path, :class => 'btn btn-default', :title => "Voltar" do %>
          <span class="glyphicon glyphicon-arrow-left"></span>
          <% end %>
        </div>
        <div class="btn-group">          
          <%= link_to new_sobremesa_path, :class => 'btn btn-success', :title => "Nova Sobremesa" do %>
          <span class="glyphicon glyphicon-plus"></span>
          <% end %>
        </div>
        <div class="btn-group">          
          <%= link_to edit_sobremesa_path, :class => 'btn btn-warning', :title => "Editar" do %>
          <span class="glyphicon glyphicon-pencil"></span>
          <% end %>
        </div>
        <div class="btn-group">
          <%= link_to desativar_sobremesa_path, :class => 'btn btn-danger', :title => "Desativar" do %>
          <span class="glyphicon glyphicon-remove"></span>
          <% end %>
        </div> 
    </div>       
</div>
