<br>
<%= form_for @pagamento, :html => { :class => 'form-horizontal validate' } do |f| %>
      
  <%= f.hidden_field :conta_id, :value => params[:conta_id].to_i %>

  <% @pagamento.errors.full_messages.each do |msg| %>
    <li><%= msg %></li><br/>
  <% end %>

<div class="row">
        <div class="col-md-6">
          <div class="panel panel-success">
            <div class="panel-heading">
              <h3 class="panel-title">Pagamento: <%= Conta.find_by_id(params[:conta_id].to_i).cliente.nome %></h3>
            </div>
            <div class="panel-body">
                <div class="form-group">
                  <div class="col-sm-2">
                    <label class="control-label">Data</label>
                  </div>
                  <div class="col-sm-10">
                    <%= f.text_field :data, :class => 'form-control required' %>                    
                    <span class="validate">Data</span>
                  </div>
                </div>                
                <div class="form-group">
                  <div class="col-sm-4">
                    <label class="control-label">Forma de Pagamento</label>
                  </div>
                  <div class="col-sm-8">
                    <%= f.select :forma_de_pagamento, options_for_select([["Ticket Alimentação","Ticket Alimentação"] , ["Ticket Refeição","Ticket Refeição"] , ["Sodexo","Sodexo"],["Cartão de Crédito", "Cartão de Crédito"],["Cartão de Débito", "Cartãp de Débito"],["Dinheiro","Dinheiro"],["Alelo","Alelo"]]), {:prompt => "Forma de Pagamento"}, {:class => 'form-control input-search required'} %>
                    <span class="validate">Selecione um item</span>
                  </div>
                </div>                
                <div class="form-group">
                  <div class="col-sm-2">
                    <label class="control-label">Valor</label>
                  </div>
                  <div class="col-sm-10">
                    <%= f.text_field :valor, :class => 'form-control required numeric' %>
                    <span class="validate">Valor</span>
                  </div>
                </div>                 
            </div>
          </div>
        </div>
  </div><br>
 <div class="row">
        <div class="col-md-6 text-right">          
          <%= f.submit nil, :class => 'btn btn-primary' %>
        </div>
        <div class="col-md-6">
          <%= link_to "Cancelar", home_inicial_path, :class => 'btn btn-default' %>
        </div>
</div>
<% end %>