<%= form_for @pagamento, :html => { :class => 'validate' } do |f| %>
      <h1>Cliente: <%= Conta.find_by_id(params[:conta_id].to_i).cliente.nome %></h1>
  <%= f.hidden_field :conta_id, :value => params[:conta_id].to_i %>
  <table>
  <td>
  <p>
    <%= f.label :valor %>
    <%= f.text_field :valor, :class => 'required' %>
    <span class="validate">Campo requerido</span>
  </p>
<br>
    <%= f.submit nil, :class => 'button blue-cadastrar-top' %>
    <%= link_to "Cancelar", empresas_path, :class => 'button gray-voltar' %>
</p>
</td>
</table>
  
<% end %>