<%- model_class = Pagamento -%>
<h1 class='titulo'><%=t '.title', :default => model_class.model_name.human.titleize %></h1>

<div class="show1">
<fieldset class='form-clientes'>
  <legend class="legend1">Dados Cadastrais</legend>
  <strong><%= model_class.human_attribute_name(:cliente) %>:</strong>
  <%= @pagamento.conta.cliente.nome %><br/>
  <strong><%= model_class.human_attribute_name(:valor) %>:</strong>
  <%= @pagamento.valor %><br/>
</fieldset>
</div>
<center>
<div class="acoes">
  <%= link_to edit_pagamento_path(@pagamento), :class => 'button blue' do %>
                      <span class="editar"></span>          
          <% end %>
</div>
</center>