<%- model_class = Carne -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:nome) %>:</strong></dt>
  <dd><%= @carne.nome %></dd>
  <dt><strong><%= model_class.human_attribute_name(:quantidade) %>:</strong></dt>
  <dd><%= @carne.quantidade %></dd>
  <dt><strong><%= model_class.human_attribute_name(:disponibilidade) %>:</strong></dt>
  <dd><% if @carne.disponibilidade? %> Ativado <% else %> Desativado <% end %></dd>
</dl>

<div class="form-actions">
  <%= link_to t('.voltar', :default => t("helpers.links.voltar")),
              carnes_path, :class => 'btn'  %>
  <%= link_to t('.editar', :default => t("helpers.links.editar")),
              edit_carne_path(@carne), :class => 'btn' %>
  <%= link_to t('.excluir', :default => t("helpers.links.excluir")),
              carne_path(@carne),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Deseja excluir esta carne?')) },
              :class => 'btn btn-danger' %>
</div>
