<%= form_for @cardapio, :html => { :class => 'validate' } do |f| %>
  <% if @cardapio.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cardapio.errors.count, "erro") %>:</h2>

      <ul>
      <% @cardapio.errors.full_messages.each do |msg| %>
        <li><%= msg %></li><br/>
      <% end %>
      </ul>
    </div>
    <% end %>

 <table>
  <td>
  <p>
    <%= f.label :nome, :class => 'control-label' %>
    <%= f.text_field :nome, :class => 'text_field' %>
  </p>
  <p>
    <%= f.label :quantidade, :class => 'control-label' %>
    <%= f.text_field :quantidade, :class => 'text_field' %>
  </p>
  <p>
    <%= f.label :tipo, :class => 'control-label' %>  
    <%= f.select :tipo, ["Carne", "Acompanhamento", "Salada"], :prompt => "Selecione", :class => 'text_field' %>
  </p>
  <p>
    <%= f.label :valor, :class => 'control-label' %>
    <%= f.text_field :valor, :class => 'text_field' %>
  </p>
  <p>
    <%= f.label :observacao, :class => 'control-label' %>
    <%= f.text_field :observacao, :class => 'text_field' %>
  </p>
  <p>
    <%= f.label :disponibilidade, :class => 'control-label' %>
    Ativar
 
    <%= f.radio_button :disponibilidade, true , :checked => true, :value => true %>
    Desativar
    <%= f.radio_button :disponibilidade, false , :value => false %>
</p>
<br>
<p>
    <%= f.submit nil, :class => 'button blue-cadastrar-top' %>
    <%= link_to "Cancelar", cardapios_path, :class => 'button gray-voltar' %>
</p>
</td>
</table>

<% end %>
