<%- model_class = Cardapio -%>
<div class="page-header">
  <h1 class='titulo'><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %><br/>
  <%= link_to t('.novo', :default => t("helpers.links.novo_cliente")),
            new_cardapio_path,
            :class => 'button blue-cadastrar-top' %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:nome) %></th>
      <th><%= model_class.human_attribute_name(:quantidade) %></th>
      <th><%= model_class.human_attribute_name(:valor) %></th>
      <th><%= model_class.human_attribute_name(:disponibilidade) %></th>
      <th><%=t '.ações', :default => t("helpers.ações") %></th>
    </tr>
  </thead>
  <tbody>
    <% @cardapios.each do |cardapio| %>
      <tr>
        <td><%= cardapio.nome %></td>
        <td><%= cardapio.quantidade %></td>
        <td>R$<%= exibir_decimal(cardapio.valor) %></td>
        <td><% if cardapio.disponibilidade? %> Ativado <% else %> Desativado <% end %></td>
        <td>
          <%= link_to edit_cardapio_path(cardapio), html_options = { :class => 'button blue', :title => "Editar Dados"} do %>
                      <span class="editar"></span>
                      <% end %>
          <%= link_to cardapio_path(cardapio), html_options = { :class => 'button green', :title => "Ver Dados Completos"} do %>
                      <span class="listar"></span>          
          <% end %>
          <%= link_to cardapio_path(cardapio), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Deseja excluir esta cardapio?')) },
                      :class => 'button red', :title => "Remover" do %>
                      <span class="remover"></span>
                      <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.novo', :default => t("helpers.links.novo_cliente")),
            new_cardapio_path,
            :class => 'button blue-cadastrar-bottom' %>