<!DOCTYPE html>
<html>
<head>
  <title>QuentManager</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => false %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => false %>
  <%= csrf_meta_tags %>
         <p class="notice"><%= notice %></p>
         <p class="alert"><%= alert %></p>
</head>
<body>

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-target=".nav-collapse" data-toggle="collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="#">QuentManager</a>
          <div class="container nav-collapse">
            <ul class="nav">
              <li><%= link_to "Clientes", "/clientes"  %></li>
              <li><%= link_to "Pedidos", "/pedidos"  %></li>
              <li><%= link_to "Produtos", "/produtos"  %></li>
            </ul>
          </div><!--/.nav-collapse -->
          <div id="user_nav">
  <% if usuario_signed_in? %>
    Signed in as <%= current_usuario.email %>. Not you?
    <%= link_to "Sign out", destroy_usuario_session_path, :method => :delete %>
  <% else %>
    <%= link_to "Sign up", new_usuario_registration_path %> or <%= link_to "sign in", new_usuario_session_path %>
  <% end %>
</div>
        </div>
      </div>
    </div>


<div class="container">
  <div class="row">
      <div class="span3">
        <h2>Resumo</h2>
          <p> Quantidade de clientes: </p><%= @qtd_clientes %>
        </div>
      <div class="span8"><%= yield %></div>
  </div>
</div>

</body>
</html>
