<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <%#= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => false %>
  <%#= stylesheet_link_tag    "bootstrap.css", media: "all", "data-turbolinks-track" => false %>
  <%= stylesheet_link_tag    "style.css", media: "all", "data-turbolinks-track" => false %>
  <%#= javascript_include_tag "bootstrap.js", "data-turbolinks-track" => false %>
  <%= javascript_include_tag "jquery.min.js", "data-turbolinks-track" => false %>
  <%= javascript_include_tag "application.js", "data-turbolinks-track" => false %>
  <%#= javascript_include_tag "nested_form.js", "data-turbolinks-track" => false %>
   <%= javascript_include_tag "jquery.validate.js", "data-turbolinks-track" => false %>
  <%= javascript_include_tag "jquery.cycle2.js", "data-turbolinks-track" => false %>
  <%= csrf_meta_tags %>
<!--          <p class="alert-success"><%= notice %></p>
        <p class="alert-error"><%= alert %></p>
 -->
    <!-- <meta charset="utf-8"> -->
     <link rel="shortcut icon" href="favicon.ico">
    <meta name="description" content="Siquitutes">
    <meta name="keywords" content="Siquitutes, almoço, macaé, quentinha, quentinha macaé, entrega, comida, food" />
    <meta name="author" content="R2L Solutions">
    <title>Si Quitutes</title>
    <!-- <link href="css/style.css" rel="stylesheet"> -->
  </head>
    
<body>
<div id="all">
  <div id="header">
      <% if usuario_signed_in? %>
          <ul class="menu">              
          <li class="menu">
            <a class="menu"href="#"> <%= current_usuario.email %> <b class="caret"> </b></a>
          <ul class="menu">
          <li class="menu"><%= link_to "Editar Perfil", cliente_path(current_usuario.cliente.id) %></li>
          <li class="menu"><%= link_to "Editar senha", edit_usuario_registration_path(current_usuario) %></li>
          <li class="menu"><%= link_to "Sair", destroy_usuario_session_path, method: :get %></li>
          </ul>
          </li>
        </ul>
    <% else %>
      <div class='login'>
        <%= form_for(resource, :html => { :class => "validate"}, as: resource_name, url: session_path(resource_name))  do |f| %>
          <div class='login_fields'><%= f.text_field :email, autofocus: true, placeholder: "Email", :class => "validate" %></div>
          <div class='login_fields'><%= f.password_field :password, autocomplete: "off", placeholder: "Senha", :class => "validate"%></div>
          <%= f.submit "Entrar", :class => "login_button blue-login"%>
        <% end %>
      </div>
    <% end %>
  </div>

  <div id="lineorange">
    <div id="boxorange"> Envie-nos sua sugestão <p> contato@siquitutes.com.br </div>
  </div>

      <div id="navtop">
          <div id="logo"> </div>
          <div id="garfos"> </div>
      </div>
      <div id="faixa">    
        <div id="navbaresq"> </div> 
          <div id="navbar">
            <ul class="dropdown">
               <div id="home"> <a class="botao" href="/home"> <img src="../images/home.png" width="40" height="40"></a></div>
                    <li class="dropdown"><a class="botao" href="/home"> Home </a></li>
                    <% if !usuario_signed_in? %>
                     <li class="dropdown"> <a><%= link_to "Cadastre-se", new_usuario_registration_path, :class => 'botao' %></a></li>
                     <li class="dropdown"> <a class="botao" href="#"> Equipe </a></li>
                     <li class="dropdown"> <a class="botao" href="#"> Sobre </a></li>
                     <li class="dropdown"><a class="botao" href="#"> Contato</a></li>
                    <% else %>
                    <% if can? :manage, Proteina %>
                     <li class="dropdown">
                       <span ><a class="botao" href="#"> Cadastros</a></span>
                        <ol class="dropdown">
                        <li class="dropdown" ><a><%= link_to "Clientes", "/clientes", :class => 'botao2'  %></a></li>
                        <li class="dropdown"><a><%= link_to "Produtos", "/produtos", :class => 'botao2'  %></a></li>
                        <li class="dropdown"><a><%= link_to "Proteínas", "/proteinas", :class => 'botao2'  %></a></li>
                        <li class="dropdown"><a><%= link_to "Acompanhamentos", "/acompanhamentos", :class => 'botao2'  %></a></li>
                        <li class="dropdown"><a><%= link_to "Guarnições", "/guarnicoes", :class => 'botao2'  %></a></li>
                        <li class="dropdown"><a><%= link_to "Saladas", "/saladas", :class => 'botao2'  %></a></li>
                        <li class="dropdown"><a><%= link_to "Empresas", "/empresas", :class => 'botao2'  %></a></li>

                      <% end %>
                    </ol>
                      </li>
                       <li class="dropdown"><a><%= link_to "Pedidos", "/pedidos", :class => 'botao'  %></a></li> 
                    <!-- <a class="botao" href="/clientes"> Cadastro </a> -->
              <% end %>
            </ul>  
          </div>
        <div id="navbardir"></div> 
      </div>
      <div id="colcentral">
        <% if usuario_signed_in? %>
          <div id="coldados">
            <%= yield %>
          </div>
          <% if request.env['PATH_INFO'] != new_usuario_registration_path %>
            <div id="colinfo">
              <%= render :partial => 'barra_lateral' %>
            </div>  
            <% end %>
        <% else %>
          <% if request.env['PATH_INFO'] == new_usuario_session_path %>
            <div id="banner"> 
              <div class="cycle-slideshow"
                data-cycle-fx='tileSlide' 
                data-cycle-speed="2000"
                data-cycle-delay="1500">
                <img src="../images/slide1.jpg">
                <img src="../images/slide2.jpg">
                <img src="../images/slide3.jpg">
              </div>
            </div> 
          <% end %>
           
            <%= yield %>
           <center><h1>Cardápio de Hoje</h1></center>
            <div id="cardapio_b">
             <div id="cardapio">
              <% Proteina.all.where(:disponibilidade => true).each do |proteina| %>
                <%= proteina.nome %><br/>
              <% end %>
              <% Guarnicao.all.where(:disponibilidade => true).each do |guarnicao| %>
                <%= guarnicao.nome %><br/>
              <% end %>
            </div>
              </div> 
            <div id="cardapio_b1">
              <div id="cardapio1"> peixe <br>arroz  <br>feijão <br>farofa <br> salada </div> 
            </div> 
            <div id="cardapio_b2">
              <div id="cardapio2"> macarrão <br>arroz  <br>feijão <br>ovo <br> salada </div>
            </div> 
            <% end %>

      
      </div>
      
<div id="rodape">
    <div id="lineorange"></div>
    <div id="boxblue">Todos os Direitos Reservados <br> R2L Solutions </div>
</div>    
</div>
</body>
</html>
