<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <%#= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => false %>
  <%#= stylesheet_link_tag    "bootstrap.css", media: "all", "data-turbolinks-track" => false %>
  <%= stylesheet_link_tag    "style.css", media: "all", "data-turbolinks-track" => false %>
  <%#= javascript_include_tag "bootstrap.js", "data-turbolinks-track" => false %>
  <%#= javascript_include_tag "jquery.min.js", "data-turbolinks-track" => false %>
  <%= javascript_include_tag "application.js", "data-turbolinks-track" => false %>
  <%#= javascript_include_tag "nested_form.js", "data-turbolinks-track" => false %>
   <%#= javascript_include_tag "jquery.validate.js", "data-turbolinks-track" => false %>
  <%= javascript_include_tag "jquery.cycle2.js", "data-turbolinks-track" => false %>
  <%= csrf_meta_tags %>
<!--          <p class="alert-success"><%= notice %></p>
        <p class="alert-error"><%= alert %></p>
 -->
    <!-- <meta charset="utf-8"> -->
     <link rel="shortcut icon" href="favicon.ico">
    <meta name="description" content="Siquitutes">
    <meta name="keywords" content="Siquitutes, almoço, macaé, quentinha, quentinha macaé, entrega, comida, food" />
    <meta name="author" content="R2L Solutions">
    <title>Si Quitutes</title>
    <!-- <link href="css/style.css" rel="stylesheet"> -->
  </head>
    
<body>
<div id="all">
  <div id="header">
      <% if usuario_signed_in? %>
          <ul class="menu">              
          <li>
            <a href="#"> <%= current_usuario.email %> <b class="caret"> </b></a>
          <ul>
          <li><%= link_to "Editar Perfil", cliente_path(current_usuario.cliente.id) %></li>
          <li><%= link_to "Editar senha", edit_usuario_registration_path(current_usuario) %></li>
          <li class="fonte_menu_dropdown"><%= link_to "Sair", destroy_usuario_session_path, method: :get %></li>
          </ul>
          </li>
    <% else %>
      <div class='login'>
        <%= form_for(resource, :html => { :class => "validate"}, as: resource_name, url: session_path(resource_name))  do |f| %>
          <div class='login_fields'><%= f.text_field :email, autofocus: true, placeholder: "Email", :class => "validate" %></div>
          <div class='login_fields'><%= f.password_field :password, autocomplete: "off", placeholder: "Senha", :class => "validate"%></div>
          <%= f.submit "Entrar", :class => "login_button blue-login"%>
        <% end %>
      </div>
    <% end %>
  </div>

  <div id="lineorange">
    <div id="boxorange"> Envie-nos sua sugestão <p> contato@siquitutes.com.br </div>
  </div>

      <div id="navtop">
          <div id="logo"> </div>
          <div id="garfos"> </div>
      </div>
      <div id="faixa">    
        <div id="navbaresq"> </div> 
          <div id="navbar">
               <div id="home"> <a class="botao" href="/home"> <img src="../images/home.png" width="40" height="40"></a></div>
                  <a class="botao" href="/home"> Home </a>
                  <% if !usuario_signed_in? %>
                    <a><%= link_to "Cadastre-se", new_usuario_registration_path, :class => 'botao' %></a>
                    <a class="botao" href="#"> Equipe </a>
                    <a class="botao" href="#"> Sobre </a>
                    <a class="botao" href="#"> Contato</a>
                  <% else %>
                  <% if can? :manage, Cardapio %>
                    <a><%= link_to "Clientes", "/clientes", :class => 'botao-menor'  %></a>
                    <a><%= link_to "Produtos", "/produtos", :class => 'botao-menor'  %></a>
                    <a><%= link_to "Cardapios", "/cardapios", :class => 'botao-menor'  %></a>
                    <a><%= link_to "Acompanhamentos", "/acompanhamentos", :class => 'botao-menor'  %></a>
                    <a><%= link_to "Empresas", "/empresas", :class => 'botao-menor'  %></a>
                  <% end %>
                    <a><%= link_to "Pedidos", "/pedidos", :class => 'botao-menor'  %></a>              
                  <!-- <a class="botao" href="/clientes"> Cadastro </a> -->
              <% end %>
          </div>
        <div id="navbardir"></div> 
      </div>
      <div id="colcentral">
         
            <% if usuario_signed_in? %>
          <div id="coldados">
            <%= yield %>
          </div>
          <div id="colinfo">
            <%= render :partial => 'barra_lateral' %>
          </div>  
            <% else %>
           <div id="banner"> 
                <div class="cycle-slideshow"
                  data-cycle-fx='tileSlide' 
                  data-cycle-speed="2000"
                  data-cycle-delay="1500">
                <img src="../images/slide1.jpg">
                <img src="../images/slide2.jpg">
                <img src="../images/slide3.jpg">
                <img src="../images/slide4.jpg">
                <img src="../images/slide5.jpg">
              </div>

           </div> 
          <div id="col">
            <%= yield %>
          </div>
            <% end %>  
      </div>

<div id="rodape">
    <div id="lineorange"></div>
    <div id="boxblue">Todos os Direitos Reservados <br> R2L Solutions </div>
</div>    
</div>
</body>
</html>