<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <%#= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => false %>
  <%#= stylesheet_link_tag    "bootstrap.css", media: "all", "data-turbolinks-track" => false %>
  <%= stylesheet_link_tag    "style.css", media: "all", "data-turbolinks-track" => false %>
  <%#= javascript_include_tag "bootstrap.js", "data-turbolinks-track" => false %>
  <%= javascript_include_tag "jquery.min.js", "data-turbolinks-track" => false %>
  <%= javascript_include_tag "application.js", "data-turbolinks-track" => false %>
  <%#= javascript_include_tag "nested_form.js", "data-turbolinks-track" => false %>
   <%= javascript_include_tag "jquery.validate.js", "data-turbolinks-track" => false %>
  <%= javascript_include_tag "jquery.cycle2.js", "data-turbolinks-track" => false %>
  <%= csrf_meta_tags %>

    <!-- <meta charset="utf-8"> -->
     <link rel="shortcut icon" href="favicon.ico">
    <meta name="description" content="Siquitutes">
    <meta name="keywords" content="Siquitutes, almoço, macaé, quentinha, quentinha macaé, entrega, comida, food" />
    <meta name="author" content="R2L Solutions">
    <title>Si Quitutes</title>
  </head>
    
<body>
<div id="all">
  <div id="header">
      <% if usuario_signed_in? %>
          <ul class="menu">              
          <li class="menu">
            <a class="menu"href="#"> <%= current_usuario.email %> <b class="caret"> </b></a>
          <ul class="menu">
          <li class="menu"><%= link_to "Editar Perfil", cliente_path(current_usuario.cliente.id) %></li>
          <li class="menu"><%= link_to "Editar senha", edit_usuario_registration_path(current_usuario) %></li>
          <li class="menu"><%= link_to "Sair", destroy_usuario_session_path, method: :get %></li>
          </ul>
          </li>
        </ul>
    <% else %>
      <div class='login'>
        <%= form_for(:usuario, :html => { :class => "validate"}, url: session_path(:usuario))  do |f| %>
          <div class='login_fields'><%= f.text_field :email, autofocus: true, placeholder: "Email", :class => "validate" %></div>
          <div class='login_fields'><%= f.password_field :password, autocomplete: "off", placeholder: "Senha", :class => "validate"%></div>
          <%= f.submit "Entrar", :class => "login_button blue-login"%>
          <%= link_to "Senha?", new_password_path(:usuario), html_options = { :class => 'login_button  blue-login', :title => "Esqueceu sua senha?"} %>
        <% end %>
      </div>
    <% end %>
  </div>
  <div id="lineorange">
    <% if (usuario_signed_in? && !current_usuario.admin?) || !usuario_signed_in? %>
      <div id="boxorange"> Envie-nos sua sugestão <p> contato@siquitutes.com.br </div>
    <% end %>
  </div>

      <div id="navtop">
          <div id="logo"> </div>
      </div>
      <% if request.env['PATH_INFO'] == new_usuario_session_path %>
      <div class='mensagem_login'>
        <% if !notice.nil? %>
          <div class="alert-success"><%= notice %></div>
        <% elsif !alert.nil? %>
          <div class="alert-error"><%= alert %></div>
        <% end %>
      </div>
      <% end %>

      <div id="faixa">    
        <div id="navbaresq"> </div> 
          <div id="navbar">
            <ul class="dropdown">
            <% if usuario_signed_in? %>
               <div id="home"> <a class="botao" href="/home/inicial"> <img src="../images/home.png" width="40" height="40"></a></div>
                    <li class="dropdown"><a class="botao" href="/home/inicial"> Home </a></li>
                    <% else %>
               <div id="home"> <a class="botao" href="/"> <img src="../images/home.png" width="40" height="40"></a></div>
                    <li class="dropdown"><a class="botao" href="/"> Home </a></li>
                    <% end %>
                    <% if !usuario_signed_in? %>
                     <li class="dropdown"> <a><%= link_to "Cadastre-se", new_usuario_registration_path, :class => 'botao' %></a></li>
                     <li class="dropdown"> <a class="botao" href="/home/sobre"> Sobre </a></li>
                    <% else %>
                    <% if can? :manage, Proteina %>
                     <li class="dropdown">
                       <span ><a class="botao" href="#"> Cadastros</a></span>
                        <ol class="dropdown">                                          
                        <li class="dropdown"><a><%= link_to "Proteínas", "/proteinas", :class => 'botao2'  %></a></li>
                        <li class="dropdown"><a><%= link_to "Acompanhamentos", "/acompanhamentos", :class => 'botao2'  %></a></li>
                        <li class="dropdown"><a><%= link_to "Guarnições", "/guarnicoes", :class => 'botao2'  %></a></li>
                        <li class="dropdown"><a><%= link_to "Saladas", "/saladas", :class => 'botao2'  %></a></li>
                        <li class="dropdown"><a><%= link_to "Bebidas", "/bebidas", :class => 'botao2'  %></a></li>
                        <li class="dropdown"><a><%= link_to "Sobremesas", "/sobremesas", :class => 'botao2'  %></a></li>
                        <li class="dropdown"><a><%= link_to "Empresas", "/empresas", :class => 'botao2'  %></a></li>
                    </ol>
                      </li>
                       <li class="dropdown"><a><%= link_to "Clientes", "/clientes", :class => 'botao'  %></a></li> 
                       <li class="dropdown"><a><%= link_to "Estoque", "/produtos", :class => 'botao'  %></a></li>
                     <li class="dropdown">
                       <span ><a class="botao" href="#">Relatórios</a></span>
                        <ol class="dropdown">                                          
                          <li class="dropdown"><a><%= link_to "Estoque", "/home/relatorio_produtos", :class => 'botao2'  %></a></li>
                          <li class="dropdown"><a><%= link_to "Pedidos", "/home/relatorio_pedidos", :class => 'botao2'  %></a></li>
                        </ol>
                     </li>
                     <% else %>
                       <li class="dropdown"><a><%= link_to "Conta", conta_cliente_path(current_usuario.cliente), html_options = { :class => 'botao', :title => "Conta"} %></a></li>
                       <li class="dropdown"><a><%= link_to "Meus Pedidos", "/pedidos", :class => 'botao'  %></a></li> 
                       <li class="dropdown"><a><%= link_to "Fazer Pedido", new_pedido_path(:cliente_id => current_usuario.cliente.id), :class => 'botao'  %></a></li> 
                     <% end %>
                    <!-- <a class="botao" href="/clientes"> Cadastro </a> -->
              <% end %>
            </ul>  
          </div>
        <div id="navbardir"></div> 
      </div>
      <div id="colcentral">
                <% if !notice.nil? %>
            <div class="alert-success"><%= notice %></div>
          <% elsif !alert.nil? %>
            <div class="alert-error"><%= alert %></div>
          <% end %>
        <% if usuario_signed_in? && (request.env['PATH_INFO'] != root_path && request.env['PATH_INFO'] != home_index_path) %>
          <div id="coldados">
            <%= yield %>
          </div>
        <% else %>
          <% if request.env['PATH_INFO'] == new_usuario_session_path || request.env['PATH_INFO'] == root_path %>
            <div id="banner"> 
              <div class="cycle-slideshow"
                data-cycle-fx='tileSlide' 
                data-cycle-speed="2000"
                data-cycle-delay="1500">
                <img src="../images/slide1.jpg">
                <img src="../images/slide2.jpg">
                <img src="../images/slide3.jpg">
              </div>
            </div> 
      <div id="legumes"></div>
          <% end %>
           <div id="colcad">
            <%= yield %>
            </div>
            <% end %>

      
      </div>
      
<div id="rodape">
    <div id="lineorange"></div>
    <div id="boxblue">Todos os Direitos Reservados <br> R2L Solutions </div>
</div>    
</div>
</body>
</html>
